# Transformaciones

## Joins
<b>Los joins son una serie de sentencias las cuales tienen como objetivo el combinar 2 tablas de datos. Dependiendo del objetivo del usuario estas pueden separarse en:</b>

- Inner join
- Left join
- Outer join
- Cross join
- Semi join
- Anti join
- Asof join


![joins](https://help.pyramidanalytics.com/content/root/MainClient/apps/Model/Model%20Pro/Data%20Flow/Joins/Images/UnionDiagram.png)

Con el proposito de presentar mejor cada función, crearemos 2 data frames, el primero llamado 'Estudiantes', el cual tendra como atributos: 'ID_Estudiante','Nombre', 'Edad', 'Carrera' y 'Sexo'. Y el segundo llamado 'Notas', el cual tendra como atributos:'ID_Notas', 'ID_Estudiante' y 'Nota'. La llave foranea (es decir la columna que unira a ambos data frames) sera 'ID_Estudiante'.

In [96]:
import polars as pl
from datetime import datetime

Estudiantes = pl.DataFrame({"ID_Estudiante":[1001,1002,1003,1004,1005,1006]
                            ,"Nombre":["Juliana","Fernando","Lucero","Josselyn","Ismael","Ximena"]
                     , "Edad":[21,19,19,20,29,20], "Carrera":["Estadistica Informatica","Economia","Gestion","Gestion","Economia","Estadistica Informatica"]
                     , "Sexo":["F","M","F","F","M","F"]})

Notas = pl.DataFrame({"ID_Notas":[2001,2002,2003,2004,2005], "ID_Estudiante":[1001,1002,1003,1004,1005],"Nota":[18,0,10,17,20]})

print(Estudiantes)
print(Notas)

shape: (6, 5)
┌───────────────┬──────────┬──────┬─────────────────────────┬──────┐
│ ID_Estudiante ┆ Nombre   ┆ Edad ┆ Carrera                 ┆ Sexo │
│ ---           ┆ ---      ┆ ---  ┆ ---                     ┆ ---  │
│ i64           ┆ str      ┆ i64  ┆ str                     ┆ str  │
╞═══════════════╪══════════╪══════╪═════════════════════════╪══════╡
│ 1001          ┆ Juliana  ┆ 21   ┆ Estadistica Informatica ┆ F    │
│ 1002          ┆ Fernando ┆ 19   ┆ Economia                ┆ M    │
│ 1003          ┆ Lucero   ┆ 19   ┆ Gestion                 ┆ F    │
│ 1004          ┆ Josselyn ┆ 20   ┆ Gestion                 ┆ F    │
│ 1005          ┆ Ismael   ┆ 29   ┆ Economia                ┆ M    │
│ 1006          ┆ Ximena   ┆ 20   ┆ Estadistica Informatica ┆ F    │
└───────────────┴──────────┴──────┴─────────────────────────┴──────┘
shape: (5, 3)
┌──────────┬───────────────┬──────┐
│ ID_Notas ┆ ID_Estudiante ┆ Nota │
│ ---      ┆ ---           ┆ ---  │
│ i64      ┆ i64           ┆ i64  │
╞══════════╪═══════════════╪══════╡
│ 2001     ┆ 1001          ┆ 18   │
│ 2002     ┆ 1002          ┆ 0    │
│ 2003     ┆ 1003          ┆ 10   │
│ 2004     ┆ 1004          ┆ 17   │
│ 2005     ┆ 1005          ┆ 20   │
└──────────┴───────────────┴──────┘

### Inner join:
<b>La función 'inner join' une aquellas filas de ambas tablas que tengan un parametro en comun el cual sera definido por 'on', es decir que generara un data frame con la interseccion de ambas tablas.</b>

In [35]:
inner_join = Estudiantes.join(Notas,how="inner",on="ID_Estudiante")

print(inner_join)

shape: (5, 7)
┌───────────────┬──────────┬──────┬─────────────────────────┬──────┬──────────┬──────┐
│ ID_Estudiante ┆ Nombre   ┆ Edad ┆ Carrera                 ┆ Sexo ┆ ID_Notas ┆ Nota │
│ ---           ┆ ---      ┆ ---  ┆ ---                     ┆ ---  ┆ ---      ┆ ---  │
│ i64           ┆ str      ┆ i64  ┆ str                     ┆ str  ┆ i64      ┆ i64  │
╞═══════════════╪══════════╪══════╪═════════════════════════╪══════╪══════════╪══════╡
│ 1001          ┆ Juliana  ┆ 21   ┆ Estadistica Informatica ┆ F    ┆ 2001     ┆ 18   │
│ 1002          ┆ Fernando ┆ 19   ┆ Economia                ┆ M    ┆ 2002     ┆ 0    │
│ 1003          ┆ Lucero   ┆ 19   ┆ Gestion                 ┆ F    ┆ 2003     ┆ 10   │
│ 1004          ┆ Josselyn ┆ 20   ┆ Gestion                 ┆ F    ┆ 2004     ┆ 17   │
│ 1005          ┆ Ismael   ┆ 29   ┆ Economia                ┆ M    ┆ 2005     ┆ 20   │
└───────────────┴──────────┴──────┴─────────────────────────┴──────┴──────────┴──────┘

### Left join:
<b>La función 'left join' une aquellas filas de la segunda tabla que tengan un parametro en comun con la primera tabla, manteniendo esta ultima.</b>

In [36]:
left_join_1 = Estudiantes.join(Notas,how="left",on="ID_Estudiante")

left_join_2 = Notas.join(Estudiantes,how="left",on="ID_Estudiante")

print(left_join_1)
print(left_join_2)

shape: (6, 7)
┌───────────────┬──────────┬──────┬─────────────────────────┬──────┬──────────┬──────┐
│ ID_Estudiante ┆ Nombre   ┆ Edad ┆ Carrera                 ┆ Sexo ┆ ID_Notas ┆ Nota │
│ ---           ┆ ---      ┆ ---  ┆ ---                     ┆ ---  ┆ ---      ┆ ---  │
│ i64           ┆ str      ┆ i64  ┆ str                     ┆ str  ┆ i64      ┆ i64  │
╞═══════════════╪══════════╪══════╪═════════════════════════╪══════╪══════════╪══════╡
│ 1001          ┆ Juliana  ┆ 21   ┆ Estadistica Informatica ┆ F    ┆ 2001     ┆ 18   │
│ 1002          ┆ Fernando ┆ 19   ┆ Economia                ┆ M    ┆ 2002     ┆ 0    │
│ 1003          ┆ Lucero   ┆ 19   ┆ Gestion                 ┆ F    ┆ 2003     ┆ 10   │
│ 1004          ┆ Josselyn ┆ 20   ┆ Gestion                 ┆ F    ┆ 2004     ┆ 17   │
│ 1005          ┆ Ismael   ┆ 29   ┆ Economia                ┆ M    ┆ 2005     ┆ 20   │
│ 1006          ┆ Ximena   ┆ 20   ┆ Estadistica Informatica ┆ F    ┆ null     ┆ null │
└───────────────┴──────────┴──────┴─────────────────────────┴──────┴──────────┴──────┘
shape: (5, 7)
┌──────────┬───────────────┬──────┬──────────┬──────┬─────────────────────────┬──────┐
│ ID_Notas ┆ ID_Estudiante ┆ Nota ┆ Nombre   ┆ Edad ┆ Carrera                 ┆ Sexo │
│ ---      ┆ ---           ┆ ---  ┆ ---      ┆ ---  ┆ ---                     ┆ ---  │
│ i64      ┆ i64           ┆ i64  ┆ str      ┆ i64  ┆ str                     ┆ str  │
╞══════════╪═══════════════╪══════╪══════════╪══════╪═════════════════════════╪══════╡
│ 2001     ┆ 1001          ┆ 18   ┆ Juliana  ┆ 21   ┆ Estadistica Informatica ┆ F    │
│ 2002     ┆ 1002          ┆ 0    ┆ Fernando ┆ 19   ┆ Economia                ┆ M    │
│ 2003     ┆ 1003          ┆ 10   ┆ Lucero   ┆ 19   ┆ Gestion                 ┆ F    │
│ 2004     ┆ 1004          ┆ 17   ┆ Josselyn ┆ 20   ┆ Gestion                 ┆ F    │
│ 2005     ┆ 1005          ┆ 20   ┆ Ismael   ┆ 29   ┆ Economia                ┆ M    │
└──────────┴───────────────┴──────┴──────────┴──────┴─────────────────────────┴──────┘

### Outer join:
<b>La función 'outer join' que genera un data frame con las filas de ambos data frames ingresados, ademas pueden existir columnas nulas si la clave foranea no existe en la segunda tabla.</b>

In [37]:
outer_join_1 = Estudiantes.join(Notas,on = "ID_Estudiante",how="outer")

outer_join_2 = Notas.join(Estudiantes, on = "ID_Estudiante",how= "outer")

print(outer_join_1)
print(outer_join_2)

shape: (6, 7)
┌───────────────┬──────────┬──────┬─────────────────────────┬──────┬──────────┬──────┐
│ ID_Estudiante ┆ Nombre   ┆ Edad ┆ Carrera                 ┆ Sexo ┆ ID_Notas ┆ Nota │
│ ---           ┆ ---      ┆ ---  ┆ ---                     ┆ ---  ┆ ---      ┆ ---  │
│ i64           ┆ str      ┆ i64  ┆ str                     ┆ str  ┆ i64      ┆ i64  │
╞═══════════════╪══════════╪══════╪═════════════════════════╪══════╪══════════╪══════╡
│ 1001          ┆ Juliana  ┆ 21   ┆ Estadistica Informatica ┆ F    ┆ 2001     ┆ 18   │
│ 1002          ┆ Fernando ┆ 19   ┆ Economia                ┆ M    ┆ 2002     ┆ 0    │
│ 1003          ┆ Lucero   ┆ 19   ┆ Gestion                 ┆ F    ┆ 2003     ┆ 10   │
│ 1004          ┆ Josselyn ┆ 20   ┆ Gestion                 ┆ F    ┆ 2004     ┆ 17   │
│ 1005          ┆ Ismael   ┆ 29   ┆ Economia                ┆ M    ┆ 2005     ┆ 20   │
│ 1006          ┆ Ximena   ┆ 20   ┆ Estadistica Informatica ┆ F    ┆ null     ┆ null │
└───────────────┴──────────┴──────┴─────────────────────────┴──────┴──────────┴──────┘
shape: (6, 7)
┌──────────┬───────────────┬──────┬──────────┬──────┬─────────────────────────┬──────┐
│ ID_Notas ┆ ID_Estudiante ┆ Nota ┆ Nombre   ┆ Edad ┆ Carrera                 ┆ Sexo │
│ ---      ┆ ---           ┆ ---  ┆ ---      ┆ ---  ┆ ---                     ┆ ---  │
│ i64      ┆ i64           ┆ i64  ┆ str      ┆ i64  ┆ str                     ┆ str  │
╞══════════╪═══════════════╪══════╪══════════╪══════╪═════════════════════════╪══════╡
│ 2001     ┆ 1001          ┆ 18   ┆ Juliana  ┆ 21   ┆ Estadistica Informatica ┆ F    │
│ 2002     ┆ 1002          ┆ 0    ┆ Fernando ┆ 19   ┆ Economia                ┆ M    │
│ 2003     ┆ 1003          ┆ 10   ┆ Lucero   ┆ 19   ┆ Gestion                 ┆ F    │
│ 2004     ┆ 1004          ┆ 17   ┆ Josselyn ┆ 20   ┆ Gestion                 ┆ F    │
│ 2005     ┆ 1005          ┆ 20   ┆ Ismael   ┆ 29   ┆ Economia                ┆ M    │
│ null     ┆ 1006          ┆ null ┆ Ximena   ┆ 20   ┆ Estadistica Informatica ┆ F    │
└──────────┴───────────────┴──────┴──────────┴──────┴─────────────────────────┴──────┘

### Cross join:
<b>La función 'cross join' genera un data frame con todas las posibles combinaciones de filas entre los 2 data frame ingresados.</b>

En este ejemplo queremos obtener todas las maneras diferentes en que podemos vestir a una persona, para ello, creamos 2 data frames, el primero llamado 'camisas' el cual tendra como atributos 'camisa_color' con los posibles colores de camisas y 'Marca_camisa' con las respectivas marcas de camisas, el segundo data frame contendra 'pantalon_color' con los posibles colores de pantalones y 'Marca_pantalon' con las respetivas marcas de pantalones.

In [38]:
Camisas = pl.DataFrame({"Camisa_Color":["Rojo","Azul","Negro"], "Marca_Camisa":["Charvet","Lorenzini","Kabbaz"]})

Pantalones = pl.DataFrame({"Pantalon_Color":["Negro","Marron","Azul"], "Marca_pantalon":["Levis","The brand","AJ"]})

print(Camisas)
print(Pantalones)

shape: (3, 2)
┌──────────────┬──────────────┐
│ Camisa_Color ┆ Marca_Camisa │
│ ---          ┆ ---          │
│ str          ┆ str          │
╞══════════════╪══════════════╡
│ Rojo         ┆ Charvet      │
│ Azul         ┆ Lorenzini    │
│ Negro        ┆ Kabbaz       │
└──────────────┴──────────────┘
shape: (3, 2)
┌────────────────┬────────────────┐
│ Pantalon_Color ┆ Marca_pantalon │
│ ---            ┆ ---            │
│ str            ┆ str            │
╞════════════════╪════════════════╡
│ Negro          ┆ Levis          │
│ Marron         ┆ The brand      │
│ Azul           ┆ AJ             │
└────────────────┴────────────────┘

In [39]:
Cross_join = Camisas.join(Pantalones,how="cross")
print(Cross_join)

shape: (9, 4)
┌──────────────┬──────────────┬────────────────┬────────────────┐
│ Camisa_Color ┆ Marca_Camisa ┆ Pantalon_Color ┆ Marca_pantalon │
│ ---          ┆ ---          ┆ ---            ┆ ---            │
│ str          ┆ str          ┆ str            ┆ str            │
╞══════════════╪══════════════╪════════════════╪════════════════╡
│ Rojo         ┆ Charvet      ┆ Negro          ┆ Levis          │
│ Rojo         ┆ Charvet      ┆ Marron         ┆ The brand      │
│ Rojo         ┆ Charvet      ┆ Azul           ┆ AJ             │
│ Azul         ┆ Lorenzini    ┆ Negro          ┆ Levis          │
│ Azul         ┆ Lorenzini    ┆ Marron         ┆ The brand      │
│ Azul         ┆ Lorenzini    ┆ Azul           ┆ AJ             │
│ Negro        ┆ Kabbaz       ┆ Negro          ┆ Levis          │
│ Negro        ┆ Kabbaz       ┆ Marron         ┆ The brand      │
│ Negro        ┆ Kabbaz       ┆ Azul           ┆ AJ             │
└──────────────┴──────────────┴────────────────┴────────────────┘

### Semi join:
<b>La función 'semi join' tiene como objetivo generar un data frame con los mismos atributos de la primera tabla pero manteniendo solo aquellas filas las cuales tenian una llave foranea que aparecia tambien en la segunda tabla.</b>

In [40]:
semi_join_1 = Estudiantes.join(Notas,how="semi",on="ID_Estudiante")
print(semi_join_1)

semi_join_2 = Notas.join(Estudiantes,how="semi",on="ID_Estudiante")
print(semi_join_2)

shape: (5, 5)
┌───────────────┬──────────┬──────┬─────────────────────────┬──────┐
│ ID_Estudiante ┆ Nombre   ┆ Edad ┆ Carrera                 ┆ Sexo │
│ ---           ┆ ---      ┆ ---  ┆ ---                     ┆ ---  │
│ i64           ┆ str      ┆ i64  ┆ str                     ┆ str  │
╞═══════════════╪══════════╪══════╪═════════════════════════╪══════╡
│ 1001          ┆ Juliana  ┆ 21   ┆ Estadistica Informatica ┆ F    │
│ 1002          ┆ Fernando ┆ 19   ┆ Economia                ┆ M    │
│ 1003          ┆ Lucero   ┆ 19   ┆ Gestion                 ┆ F    │
│ 1004          ┆ Josselyn ┆ 20   ┆ Gestion                 ┆ F    │
│ 1005          ┆ Ismael   ┆ 29   ┆ Economia                ┆ M    │
└───────────────┴──────────┴──────┴─────────────────────────┴──────┘
shape: (5, 3)
┌──────────┬───────────────┬──────┐
│ ID_Notas ┆ ID_Estudiante ┆ Nota │
│ ---      ┆ ---           ┆ ---  │
│ i64      ┆ i64           ┆ i64  │
╞══════════╪═══════════════╪══════╡
│ 2001     ┆ 1001          ┆ 18   │
│ 2002     ┆ 1002          ┆ 0    │
│ 2003     ┆ 1003          ┆ 10   │
│ 2004     ┆ 1004          ┆ 17   │
│ 2005     ┆ 1005          ┆ 20   │
└──────────┴───────────────┴──────┘

### Anti join:
<b>La función 'anti join' tiene como objetivo el devolver un data frame con los mismos atributos de la primera tabla pero manteniendo solo aquellas filas las cuales NO tenian una llave foranea que aparecia tambien en la segunda tabla.</b>

Para explicar mejor esta y la función que sigue crearemos unos nuevos data frames, los cuales seran, 'Vendedores' con atributos: 'ID_Vendedor' y 'Nombre'. Y 'Ventas' con atributos: 'ID_Venta', 'Monto', 'ID_Vendedor' y 'Fecha y hora'. En las que el atributo 'ID_Vendedor' estara designada como llave foranea.

In [33]:
Vendedores = pl.DataFrame({"ID_Vendedor":[2001,2002,2003,2004], "Nombre":["Luigi","Antonio","Ismael","Diego"]})

Ventas = pl.DataFrame({"ID_Venta":[1,2,3,4,5,6,7], "Monto":[150,200,70,97,500,466,500],
                       "ID_Vendedor":[2001,2004,2001,2004,2001,2001,2001],
                      "Fecha y hora":[datetime(2023,1,1,8,35,0),datetime(2023,1,1,9,35,0),datetime(2023,1,1,10,35,0),
                                      datetime(2023,1,1,8,20,0),datetime(2023,1,1,10,15,0),datetime(2023,1,1,13,35,0),
                                      datetime(2023,1,1,15,35,0)]})
print(Vendedores)
print(Ventas)

shape: (4, 2)
┌─────────────┬─────────┐
│ ID_Vendedor ┆ Nombre  │
│ ---         ┆ ---     │
│ i64         ┆ str     │
╞═════════════╪═════════╡
│ 2001        ┆ Luigi   │
│ 2002        ┆ Antonio │
│ 2003        ┆ Ismael  │
│ 2004        ┆ Diego   │
└─────────────┴─────────┘
shape: (7, 4)
┌──────────┬───────┬─────────────┬─────────────────────┐
│ ID_Venta ┆ Monto ┆ ID_Vendedor ┆ Fecha y hora        │
│ ---      ┆ ---   ┆ ---         ┆ ---                 │
│ i64      ┆ i64   ┆ i64         ┆ datetime[μs]        │
╞══════════╪═══════╪═════════════╪═════════════════════╡
│ 1        ┆ 150   ┆ 2001        ┆ 2023-01-01 08:35:00 │
│ 2        ┆ 200   ┆ 2004        ┆ 2023-01-01 09:35:00 │
│ 3        ┆ 70    ┆ 2001        ┆ 2023-01-01 10:35:00 │
│ 4        ┆ 97    ┆ 2004        ┆ 2023-01-01 08:20:00 │
│ 5        ┆ 500   ┆ 2001        ┆ 2023-01-01 10:15:00 │
│ 6        ┆ 466   ┆ 2001        ┆ 2023-01-01 13:35:00 │
│ 7        ┆ 500   ┆ 2001        ┆ 2023-01-01 15:35:00 │
└──────────┴───────┴─────────────┴─────────────────────┘

In [32]:
anti_join_1 = Vendedores.join(Ventas,how="anti",on="ID_Vendedor")
anti_join_2 = Ventas.join(Vendedores,how="anti",on="ID_Vendedor")
print(anti_join_1)
print(anti_join_2)

shape: (2, 2)
┌─────────────┬─────────┐
│ ID_Vendedor ┆ Nombre  │
│ ---         ┆ ---     │
│ i64         ┆ str     │
╞═════════════╪═════════╡
│ 2002        ┆ Antonio │
│ 2003        ┆ Ismael  │
└─────────────┴─────────┘
shape: (0, 4)
┌──────────┬───────┬─────────────┬──────────────┐
│ ID_Venta ┆ Monto ┆ ID_Vendedor ┆ Fecha y hora │
│ ---      ┆ ---   ┆ ---         ┆ ---          │
│ i64      ┆ i64   ┆ i64         ┆ datetime[μs] │
╞══════════╪═══════╪═════════════╪══════════════╡
└──────────┴───────┴─────────────┴──────────────┘

### Asof join:

In [20]:

Asof_join= Vendedores.join_asof(Ventas,how="asof",on="ID_Vendedor")

ValueError: how must be one of {'inner', 'left', 'outer', 'semi', 'anti', 'cross'}, got asof

## Concatenación
<b>Se hace referencia a juntar o unir 2 data frames separados, para ello se utiliza la función 'concat'.</b>

![imagen2](https://4.bp.blogspot.com/-FF1BB_1Nmuk/WHf7Nd7t0nI/AAAAAAAAC_c/t-aI-S-w2JMcaGk9VCoq3iqVdoFuNZ6jwCLcB/s1600/tabulate.png)

### Concatenación vertical (how = vertical):
<b>Tiene como función concatenar todos los data frames de una lista en el orden en que fueron escritos en esta, uno encima de otro, de modo que todos los data frames tengan las mismas columnas.</b>

Para este ejemplo creamos 3 data, frames los cuales como condición importante es que deben tener el mismo número y nombre de columnas:

In [51]:
tabla1 = pl.DataFrame({"a":[1,2],"b":[3,2]})
tabla2 = pl.DataFrame({"a":[5],"b":[7]})
tabla3 = pl.DataFrame({"a":[9],"b":[11]})

concatenacion_vertical = pl.concat([tabla1,tabla2,tabla3],how="vertical",)
print(concatenacion_vertical)

shape: (4, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 1   ┆ 3   │
│ 2   ┆ 2   │
│ 5   ┆ 7   │
│ 9   ┆ 11  │
└─────┴─────┘

## Concatenación horizontal:
<b>Tiene como función concatenar todos los data frames de una lista en el orden en que fueron escritos en esta, uno al costado de otro, de manera que todos tengan el mismo número de filas.</b>

Para este ejemplo creamos 3 data frames, los cuales como unica condición es que deben tener el mismo numero de filas:

In [55]:
tabla1 = pl.DataFrame({"a":[1,2,5],"b":[3,0,2],"c":[3,5,6]})
tabla2 = pl.DataFrame({"d":[5,4,5],"e":[7,100,0],"f":[2,5,6]})
tabla3 = pl.DataFrame({"g":[9,47,4],"h":[11,5,7],"i":[4,5,6]})

concatenacion_horizontal = pl.concat([tabla1,tabla2,tabla3],how="horizontal")
print(concatenacion_horizontal)

shape: (3, 9)
┌─────┬─────┬─────┬─────┬───┬─────┬─────┬─────┬─────┐
│ a   ┆ b   ┆ c   ┆ d   ┆ … ┆ f   ┆ g   ┆ h   ┆ i   │
│ --- ┆ --- ┆ --- ┆ --- ┆   ┆ --- ┆ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 ┆ i64 ┆   ┆ i64 ┆ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╪═════╪═══╪═════╪═════╪═════╪═════╡
│ 1   ┆ 3   ┆ 3   ┆ 5   ┆ … ┆ 2   ┆ 9   ┆ 11  ┆ 4   │
│ 2   ┆ 0   ┆ 5   ┆ 4   ┆ … ┆ 5   ┆ 47  ┆ 5   ┆ 5   │
│ 5   ┆ 2   ┆ 6   ┆ 5   ┆ … ┆ 6   ┆ 4   ┆ 7   ┆ 6   │
└─────┴─────┴─────┴─────┴───┴─────┴─────┴─────┴─────┘

## Concatenación diagonal
<b>Tiene com funcion concatenar todos los data frames de una lista en el orden en que fueron escritos, sin embargo a diferencia de las anteriores aplicaciones, la restriccion esta en que dentro de un mismo data frame todos los atributos deben tener el mismo numero de filas.</b>

Para este ejemplo crearemos 3 data frames, con la restriccion que individualmente cada atributo en un mismo data frame debe tener el mismo numero de filas.

In [58]:
tabla1 = pl.DataFrame({"a":[1],"b":[2],"c":[6]})
tabla2 = pl.DataFrame({"a":[5,4,5],"e":[7,5,0],"l":[2,5,6]})
tabla3 = pl.DataFrame({"g":[9,4],"h":[5,7],"i":[6,6]})

concatenacion_diagonal = pl.concat([tabla1,tabla2,tabla3],how="diagonal")
print(concatenacion_diagonal)

shape: (6, 8)
┌──────┬──────┬──────┬──────┬──────┬──────┬──────┬──────┐
│ a    ┆ b    ┆ c    ┆ e    ┆ l    ┆ g    ┆ h    ┆ i    │
│ ---  ┆ ---  ┆ ---  ┆ ---  ┆ ---  ┆ ---  ┆ ---  ┆ ---  │
│ i64  ┆ i64  ┆ i64  ┆ i64  ┆ i64  ┆ i64  ┆ i64  ┆ i64  │
╞══════╪══════╪══════╪══════╪══════╪══════╪══════╪══════╡
│ 1    ┆ 2    ┆ 6    ┆ null ┆ null ┆ null ┆ null ┆ null │
│ 5    ┆ null ┆ null ┆ 7    ┆ 2    ┆ null ┆ null ┆ null │
│ 4    ┆ null ┆ null ┆ 5    ┆ 5    ┆ null ┆ null ┆ null │
│ 5    ┆ null ┆ null ┆ 0    ┆ 6    ┆ null ┆ null ┆ null │
│ null ┆ null ┆ null ┆ null ┆ null ┆ 9    ┆ 5    ┆ 6    │
│ null ┆ null ┆ null ┆ null ┆ null ┆ 4    ┆ 7    ┆ 6    │
└──────┴──────┴──────┴──────┴──────┴──────┴──────┴──────┘

## Pivots:
<b>Esta función tiene el objetivo de convertir los valores de una columna en columnas de un nuevo data frame, es decir, convertir una columna en el nuevo eje x.</b>

![imagen3](https://desktop.arcgis.com/es/arcmap/latest/tools/data-management-toolbox/GUID-8669BC07-5BFC-4D76-A3AB-C4E08350F985-web.gif)

Para ilustrar mejor el ejemplo crearemos un data frame llamado "Alumnos", el cual tendra como atributos:'Nombre', 'Edad', 'Sexo', 'Carrera' y 'Ciclos_llevados':

In [75]:
Alumnos = pl.DataFrame({"Nombre":["Fernando","Juliana","josselyn","Lucero","Ismael"],
                       "Edad":[29,20,20,26,21],"Sexo":["M","F","F","F","M"],
                       "Carrera":["Estadistica","Gestion","Gestion","Estadistica","Economia"],
                        "Ciclos_llevados":[1,5,8,6,9]})
print(Alumnos)

shape: (5, 5)
┌──────────┬──────┬──────┬─────────────┬─────────────────┐
│ Nombre   ┆ Edad ┆ Sexo ┆ Carrera     ┆ Ciclos_llevados │
│ ---      ┆ ---  ┆ ---  ┆ ---         ┆ ---             │
│ str      ┆ i64  ┆ str  ┆ str         ┆ i64             │
╞══════════╪══════╪══════╪═════════════╪═════════════════╡
│ Fernando ┆ 29   ┆ M    ┆ Estadistica ┆ 1               │
│ Juliana  ┆ 20   ┆ F    ┆ Gestion     ┆ 5               │
│ josselyn ┆ 20   ┆ F    ┆ Gestion     ┆ 8               │
│ Lucero   ┆ 26   ┆ F    ┆ Estadistica ┆ 6               │
│ Ismael   ┆ 21   ┆ M    ┆ Economia    ┆ 9               │
└──────────┴──────┴──────┴─────────────┴─────────────────┘

Utilizando la funcion 'pivot' las nuevas columnas seran los datos de la columna 'Carrera' , el identificador o id sera 'Nombre' y los datos que pondran en las nuevas columnas seran los datos de la columna 'Ciclos_llevados':

In [76]:
pivot = Alumnos.pivot(index="Nombre",columns="Carrera",values="Ciclos_llevados",
                     aggregate_function="first")
print(pivot)

shape: (5, 4)
┌──────────┬─────────────┬─────────┬──────────┐
│ Nombre   ┆ Estadistica ┆ Gestion ┆ Economia │
│ ---      ┆ ---         ┆ ---     ┆ ---      │
│ str      ┆ i64         ┆ i64     ┆ i64      │
╞══════════╪═════════════╪═════════╪══════════╡
│ Fernando ┆ 1           ┆ null    ┆ null     │
│ Juliana  ┆ null        ┆ 5       ┆ null     │
│ josselyn ┆ null        ┆ 8       ┆ null     │
│ Lucero   ┆ 6           ┆ null    ┆ null     │
│ Ismael   ┆ null        ┆ null    ┆ 9        │
└──────────┴─────────────┴─────────┴──────────┘

## Melts:
<b>Es una función que se utiliza para transformar un data frame de forma que las columnas se conviertan en filas en un nuevo data frame resultando, esto desagregando los datos por una o mas columnas.</b>

![imagen4](https://www.maximaformacion.es/wp-content/uploads/2021/08/melt.png.webp)

Para este ejemplo, crearemos un data frame llamado "Ventas" con atributos: 'Mes', 'Producto_A', 'Producto_B' y 'Producto_C':

In [77]:
Ventas = pl.DataFrame({"Mes":["enero","febrero","marzo"],
                      "Producto_A":[100,200,100],
                      "Producto_B":[1500,1000,1200],
                      "Producto_C":[500,200,600]})

print(Ventas)

shape: (3, 4)
┌─────────┬────────────┬────────────┬────────────┐
│ Mes     ┆ Producto_A ┆ Producto_B ┆ Producto_C │
│ ---     ┆ ---        ┆ ---        ┆ ---        │
│ str     ┆ i64        ┆ i64        ┆ i64        │
╞═════════╪════════════╪════════════╪════════════╡
│ enero   ┆ 100        ┆ 1500       ┆ 500        │
│ febrero ┆ 200        ┆ 1000       ┆ 200        │
│ marzo   ┆ 100        ┆ 1200       ┆ 600        │
└─────────┴────────────┴────────────┴────────────┘

Utilizando la función 'melts', se genera un nuevo data frame el cual tiene como identificador o ID la columna 'Mes', las columnas ´Producto_A´, 'Producto_B' y 'Producto_C' se convierten en datos de la columna 'variable' y los antiguos datos de estas columnas se transforman en datos de la nueva columna 'value'.

In [80]:
melt = Ventas.melt(id_vars="Mes", value_vars=["Producto_A","Producto_B","Producto_C"])
print(melt)

shape: (9, 3)
┌─────────┬────────────┬───────┐
│ Mes     ┆ variable   ┆ value │
│ ---     ┆ ---        ┆ ---   │
│ str     ┆ str        ┆ i64   │
╞═════════╪════════════╪═══════╡
│ enero   ┆ Producto_A ┆ 100   │
│ febrero ┆ Producto_A ┆ 200   │
│ marzo   ┆ Producto_A ┆ 100   │
│ enero   ┆ Producto_B ┆ 1500  │
│ febrero ┆ Producto_B ┆ 1000  │
│ marzo   ┆ Producto_B ┆ 1200  │
│ enero   ┆ Producto_C ┆ 500   │
│ febrero ┆ Producto_C ┆ 200   │
│ marzo   ┆ Producto_C ┆ 600   │
└─────────┴────────────┴───────┘

## Series de tiempo:
<b>colecciones de observaciones sobre un determinado fenómeno efectuadas en sucesivos momentos del tiempo, usualmente equiespaciados.</b>

![imagen](https://blog.invgate.com/hubfs/coste-del-tiempo-de-inactividad-de-servicios.jpg)

### Análisis:

El paquete 'Polars' posee los siguientes datos de fecha y hora:
- Date: Se usa para representar una fecha
- Time: Se usa para representar una hora
- Datetime: Se usa para representar fecha y hora
- Duration: Una variación que se genera al restar Date/Datetime

#### Convertir una columna de fechas y horas de cadena a formato fecha:
Para esto primero crearemos un data frame llamado 'Documentos', el cual tendra como atributos: 'ID', 'Fecha' y 'Estado_respuesta':

In [84]:
Documentos = pl.DataFrame({"ID":[1001,1002,1003,1004],
                        "Fecha":["19/01/2022","22/06/2021","02/12/2023","16/05/2023"],
                       "Estado_respuesta":["Respondido","Pendiente","Pendiente","Respondido"]})
print(Documentos)

shape: (4, 3)
┌──────┬────────────┬──────────────────┐
│ ID   ┆ Fecha      ┆ Estado_respuesta │
│ ---  ┆ ---        ┆ ---              │
│ i64  ┆ str        ┆ str              │
╞══════╪════════════╪══════════════════╡
│ 1001 ┆ 19/01/2022 ┆ Respondido       │
│ 1002 ┆ 22/06/2021 ┆ Pendiente        │
│ 1003 ┆ 02/12/2023 ┆ Pendiente        │
│ 1004 ┆ 16/05/2023 ┆ Respondido       │
└──────┴────────────┴──────────────────┘

Ahora utilizamos la funcion 'str.strotime' para la conversion, y utilizamos el argumento 'format' para designar como esta estructurada la fecha en formato cadena.

In [88]:
conversion_fecha = Documentos.with_columns(pl.col("Fecha").str.strptime(pl.Date,format="%d/%m/%Y"))
print(conversion_fecha)

shape: (4, 3)
┌──────┬────────────┬──────────────────┐
│ ID   ┆ Fecha      ┆ Estado_respuesta │
│ ---  ┆ ---        ┆ ---              │
│ i64  ┆ date       ┆ str              │
╞══════╪════════════╪══════════════════╡
│ 1001 ┆ 2022-01-19 ┆ Respondido       │
│ 1002 ┆ 2021-06-22 ┆ Pendiente        │
│ 1003 ┆ 2023-12-02 ┆ Pendiente        │
│ 1004 ┆ 2023-05-16 ┆ Respondido       │
└──────┴────────────┴──────────────────┘

#### Extracción de una caracteristica de la fecha de una columna:
Utilizando el anterior data frame con la fecha lla convertida llamado ´conversion_fecha´, podemos obtener informacion de esta como el año, el mes o el dia, y establecerlo en una nueva columna:

In [91]:
año = conversion_fecha.with_columns(pl.col("Fecha").dt.year().alias("Año"))
print(año)
mes = conversion_fecha.with_columns(pl.col("Fecha").dt.month().alias("Mes(en número)"))
print(mes)
dia = conversion_fecha.with_columns(pl.col("Fecha").dt.day().alias("Dia(en número)"))
print(dia)

shape: (4, 4)
┌──────┬────────────┬──────────────────┬──────┐
│ ID   ┆ Fecha      ┆ Estado_respuesta ┆ Año  │
│ ---  ┆ ---        ┆ ---              ┆ ---  │
│ i64  ┆ date       ┆ str              ┆ i32  │
╞══════╪════════════╪══════════════════╪══════╡
│ 1001 ┆ 2022-01-19 ┆ Respondido       ┆ 2022 │
│ 1002 ┆ 2021-06-22 ┆ Pendiente        ┆ 2021 │
│ 1003 ┆ 2023-12-02 ┆ Pendiente        ┆ 2023 │
│ 1004 ┆ 2023-05-16 ┆ Respondido       ┆ 2023 │
└──────┴────────────┴──────────────────┴──────┘
shape: (4, 4)
┌──────┬────────────┬──────────────────┬────────────────┐
│ ID   ┆ Fecha      ┆ Estado_respuesta ┆ Mes(en número) │
│ ---  ┆ ---        ┆ ---              ┆ ---            │
│ i64  ┆ date       ┆ str              ┆ u32            │
╞══════╪════════════╪══════════════════╪════════════════╡
│ 1001 ┆ 2022-01-19 ┆ Respondido       ┆ 1              │
│ 1002 ┆ 2021-06-22 ┆ Pendiente        ┆ 6              │
│ 1003 ┆ 2023-12-02 ┆ Pendiente        ┆ 12             │
│ 1004 ┆ 2023-05-16 ┆ Respondido       ┆ 5              │
└──────┴────────────┴──────────────────┴────────────────┘
shape: (4, 4)
┌──────┬────────────┬──────────────────┬────────────────┐
│ ID   ┆ Fecha      ┆ Estado_respuesta ┆ Dia(en número) │
│ ---  ┆ ---        ┆ ---              ┆ ---            │
│ i64  ┆ date       ┆ str              ┆ u32            │
╞══════╪════════════╪══════════════════╪════════════════╡
│ 1001 ┆ 2022-01-19 ┆ Respondido       ┆ 19             │
│ 1002 ┆ 2021-06-22 ┆ Pendiente        ┆ 22             │
│ 1003 ┆ 2023-12-02 ┆ Pendiente        ┆ 2              │
│ 1004 ┆ 2023-05-16 ┆ Respondido       ┆ 16             │
└──────┴────────────┴──────────────────┴────────────────┘

#### Conversion de zona horaria:
Es posible convertir horas de una zona horaria a otra, para ello crearemos una lista con fecha y hora:

In [98]:
Datos = [
    "2015-02-27T00:00:00+0800",
    "2012-12-28T00:00:00+0200",
    "2006-06-29T00:00:00+0300",
    "2017-03-30T00:00:00+0200",
]

Luego lo convertiremos de cadena a formato hora y fecha, al mismo tiempo que establecemos la zona horaria con la función 'convert_time_zone':

In [99]:

conversion = (
    pl.Series(Datos)
    .str.strptime(pl.Datetime, format="%Y-%m-%dT%H:%M:%S%z", utc=True)
    .dt.convert_time_zone("Europe/Brussels")
)
print(conversion)

shape: (4,)
Series: '' [datetime[μs, Europe/Brussels]]
[
	2015-02-26 17:00:00 CET
	2012-12-27 23:00:00 CET
	2006-06-28 23:00:00 CEST
	2017-03-30 00:00:00 CEST
]

### Filtración:
El filtrado de columnas de tiempo al igual que otras columnas se hace usando '.filter', pero como el formato fecha es un formato especial la columna siempre debe ser comparada con el mismo formato:

Con el motivo de hacer mas facil la compresion del filtrado crearemos un data frame llamado 'Ingreso', el cual tendra como atributos 'Nombre' y 'Fecha_ingreso':

In [108]:
Ingreso = pl.DataFrame({"Nombre":["Sebastian","Paula","Vicente","Maria","Renata"],
                       "Fecha_ingreso":[datetime(2023,1,3,12,53),datetime(2023,1,23,8),datetime(2022,12,11,16,24),datetime(2022,5,16,13,56),
                                       datetime(2023,1,1,18,58)]})
print(Ingreso)

shape: (5, 2)
┌───────────┬─────────────────────┐
│ Nombre    ┆ Fecha_ingreso       │
│ ---       ┆ ---                 │
│ str       ┆ datetime[μs]        │
╞═══════════╪═════════════════════╡
│ Sebastian ┆ 2023-01-03 12:53:00 │
│ Paula     ┆ 2023-01-23 08:00:00 │
│ Vicente   ┆ 2022-12-11 16:24:00 │
│ Maria     ┆ 2022-05-16 13:56:00 │
│ Renata    ┆ 2023-01-01 18:58:00 │
└───────────┴─────────────────────┘

#### Filtrado por fechas individuales:
En este caso por ejemplo filtraremos todas aquellos ingresos los cuales hayan sido en el año 2023 y despues filtraremos todos los ingresos que hayan sido en enero:

In [136]:
filtro_2023 = Ingreso.filter(pl.col("Fecha_ingreso").dt.year() == 2023)
filtro_enero = Ingreso.filter(pl.col('Fecha_ingreso').dt.month() == 1)

print(filtro_2023)
print(filtro_enero)

shape: (3, 2)
┌───────────┬─────────────────────┐
│ Nombre    ┆ Fecha_ingreso       │
│ ---       ┆ ---                 │
│ str       ┆ datetime[μs]        │
╞═══════════╪═════════════════════╡
│ Sebastian ┆ 2023-01-03 12:53:00 │
│ Paula     ┆ 2023-01-23 08:00:00 │
│ Renata    ┆ 2023-01-01 18:58:00 │
└───────────┴─────────────────────┘
shape: (3, 2)
┌───────────┬─────────────────────┐
│ Nombre    ┆ Fecha_ingreso       │
│ ---       ┆ ---                 │
│ str       ┆ datetime[μs]        │
╞═══════════╪═════════════════════╡
│ Sebastian ┆ 2023-01-03 12:53:00 │
│ Paula     ┆ 2023-01-23 08:00:00 │
│ Renata    ┆ 2023-01-01 18:58:00 │
└───────────┴─────────────────────┘

#### Filtrado de fechas por rango:

Se puede utilizar el metodo 'is_between' para filtrar un rango amplio de fechas que cumplan con una condición.
En este ejemplo filtraremos todas las fechas que esten entre el 15 de noviembre de 2022 y el 1 de enero de 2023:

In [138]:
Filtro_rango = Ingreso.filter(pl.col("Fecha_ingreso").is_between(datetime(2022,11,15),datetime(2023,1,1)))
print(Filtro_rango)

shape: (1, 2)
┌─────────┬─────────────────────┐
│ Nombre  ┆ Fecha_ingreso       │
│ ---     ┆ ---                 │
│ str     ┆ datetime[μs]        │
╞═════════╪═════════════════════╡
│ Vicente ┆ 2022-12-11 16:24:00 │
└─────────┴─────────────────────┘

### Agrupamiento:

#### Agrupando por ventanas fijas:
Utilizando 'groupby_dynamic' se pueden agrupar datos en subconjuntos o ventanas de tamaño fijo.
Para ejemplificar su funcion crearemos un data frame llamado 'Valores' con atributos: 'Fecha' y 'Valor', donde los datos del atributo fecha deben ser fechas en orden ascendente:

In [160]:
Valores = pl.DataFrame({"Fecha":["2019-04-02","2019-06-05","2020-03-23","2020-04-25","2021-04-28","2021-07-15"
                                 ,"2022-05-08","2020-08-12","2023-05-24","2023-09-15","2024-06-18","2024-12-25"],
                        "Valor":[1500,2020,2360,8410,5821,8452,5026,2658,2695,2639,4874,8423]})
Valores = Valores.with_columns(pl.col("Fecha").str.strptime(pl.Date,format="%Y-%m-%d"))

print(Valores)

shape: (12, 2)
┌────────────┬───────┐
│ Fecha      ┆ Valor │
│ ---        ┆ ---   │
│ date       ┆ i64   │
╞════════════╪═══════╡
│ 2019-04-02 ┆ 1500  │
│ 2019-06-05 ┆ 2020  │
│ 2020-03-23 ┆ 2360  │
│ 2020-04-25 ┆ 8410  │
│ …          ┆ …     │
│ 2023-05-24 ┆ 2695  │
│ 2023-09-15 ┆ 2639  │
│ 2024-06-18 ┆ 4874  │
│ 2024-12-25 ┆ 8423  │
└────────────┴───────┘

Ahora utilizando 'groipby_dynamic' para definir la columna 'Fecha' a agrupar y tambien definir de cuanto en cuanto seria la separacion de agrupacion. En este ejemplo tambien haremos que se genere una nueva columna con el promedio anual y otra columna la cual indicara el año del promedio:

In [162]:
Agrup_ventana = Valores.groupby_dynamic("Fecha",every="1y").agg(pl.col("Valor").mean())
Agrup_ventana = Agrup_ventana.with_columns(pl.col("Fecha").dt.year().alias("Año"))

print(Agrup_ventana)

shape: (6, 3)
┌────────────┬────────┬──────┐
│ Fecha      ┆ Valor  ┆ Año  │
│ ---        ┆ ---    ┆ ---  │
│ date       ┆ f64    ┆ i32  │
╞════════════╪════════╪══════╡
│ 2019-01-01 ┆ 1760.0 ┆ 2019 │
│ 2020-01-01 ┆ 5385.0 ┆ 2020 │
│ 2021-01-01 ┆ 7136.5 ┆ 2021 │
│ 2022-01-01 ┆ 5026.0 ┆ 2022 │
│ 2023-01-01 ┆ 2667.0 ┆ 2023 │
│ 2024-01-01 ┆ 6648.5 ┆ 2024 │
└────────────┴────────┴──────┘

## Lazy API
es una API que permite construir un grafo acíclico dirigido de operaciones, donde cada operación produce una nueva columna y se conecta a la columna de entrada anterior.

![](https://res.cloudinary.com/practicaldev/image/fetch/s--w1rnUo2F--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/6wbkl53j5os9245hb1lo.png)

### Uso: 
Para poder usarlo en un data frame se debe utilizar '.lazy()', esto hara que el data frame se convierta en un lazy frame.
Para ejemplificar esto crearemos un data frame Llamado