# <font color="#CD0000">Operadores básicos   </font>

In [4]:
import polars as pl

df = pl.read_csv('iris.csv')
print(df)

shape: (150, 5)
┌─────────────┬────────────┬─────────────┬────────────┬────────────────┐
│ sepallength ┆ sepalwidth ┆ petallength ┆ petalwidth ┆ class          │
│ ---         ┆ ---        ┆ ---         ┆ ---        ┆ ---            │
│ f64         ┆ f64        ┆ f64         ┆ f64        ┆ str            │
╞═════════════╪════════════╪═════════════╪════════════╪════════════════╡
│ 5.1         ┆ 3.5        ┆ 1.4         ┆ 0.2        ┆ Iris-setosa    │
│ 4.9         ┆ 3.0        ┆ 1.4         ┆ 0.2        ┆ Iris-setosa    │
│ 4.7         ┆ 3.2        ┆ 1.3         ┆ 0.2        ┆ Iris-setosa    │
│ 4.6         ┆ 3.1        ┆ 1.5         ┆ 0.2        ┆ Iris-setosa    │
│ …           ┆ …          ┆ …           ┆ …          ┆ …              │
│ 6.3         ┆ 2.5        ┆ 5.0         ┆ 1.9        ┆ Iris-virginica │
│ 6.5         ┆ 3.0        ┆ 5.2         ┆ 2.0        ┆ Iris-virginica │
│ 6.2         ┆ 3.4        ┆ 5.4         ┆ 2.3        ┆ Iris-virginica │
│ 5.9         ┆ 3.0        ┆ 5.1         ┆ 1.8        ┆ Iris-virginica │
└─────────────┴────────────┴─────────────┴────────────┴────────────────┘

## Numerical

In [7]:
df_numerical = df.select([
    
        (pl.col("sepallength") + 5).alias("sepallength + 5"), #longitud de sepalo +5
        (pl.col("sepallength") - 5).alias("sepallength - 5"),#longitud de sepalo -5
        (pl.col("sepallength") * pl.col("sepalwidth")).alias("sepallength * sepalwidth"),#longitud por ancho del sepalo
        (pl.col("sepallength") / pl.col("sepalwidth")).alias("sepallength / sepalwidth"),#longitud entre el ancho del sepalo
    ])

print(df_numerical)

shape: (150, 4)
┌─────────────────┬─────────────────┬──────────────────────────┬──────────────────────────┐
│ sepallength + 5 ┆ sepallength - 5 ┆ sepallength * sepalwidth ┆ sepallength / sepalwidth │
│ ---             ┆ ---             ┆ ---                      ┆ ---                      │
│ f64             ┆ f64             ┆ f64                      ┆ f64                      │
╞═════════════════╪═════════════════╪══════════════════════════╪══════════════════════════╡
│ 10.1            ┆ 0.1             ┆ 17.85                    ┆ 1.457143                 │
│ 9.9             ┆ -0.1            ┆ 14.7                     ┆ 1.633333                 │
│ 9.7             ┆ -0.3            ┆ 15.04                    ┆ 1.46875                  │
│ 9.6             ┆ -0.4            ┆ 14.26                    ┆ 1.483871                 │
│ …               ┆ …               ┆ …                        ┆ …                        │
│ 11.3            ┆ 1.3             ┆ 15.75                    ┆ 2.52                     │
│ 11.5            ┆ 1.5             ┆ 19.5                     ┆ 2.166667                 │
│ 11.2            ┆ 1.2             ┆ 21.08                    ┆ 1.823529                 │
│ 10.9            ┆ 0.9             ┆ 17.7                     ┆ 1.966667                 │
└─────────────────┴─────────────────┴──────────────────────────┴──────────────────────────┘

## Logical   
Devuelve **true** o **false**.

In [172]:
df_logical = df.select([
    
        (pl.col("sepalwidth") <= 0.5).alias("sepalwidth < 0.5"),
        (pl.col("sepalwidth") != 1).alias("sepallength != 1"),
        (pl.col("sepallength") == 1).alias("sepallength == 1"),
        ((pl.col("sepalwidth") <= 0.5) & (pl.col("sepallength") > 1)).alias("and_expr"),  # and
        ((pl.col("sepalwidth") <= 0.5) | (pl.col("sepallength") > 1)).alias("or_expr"),  # or
    ])

print(df_logical)

shape: (150, 5)
┌──────────────────┬──────────────────┬──────────────────┬──────────┬─────────┐
│ sepalwidth < 0.5 ┆ sepallength != 1 ┆ sepallength == 1 ┆ and_expr ┆ or_expr │
│ ---              ┆ ---              ┆ ---              ┆ ---      ┆ ---     │
│ bool             ┆ bool             ┆ bool             ┆ bool     ┆ bool    │
╞══════════════════╪══════════════════╪══════════════════╪══════════╪═════════╡
│ false            ┆ true             ┆ false            ┆ false    ┆ true    │
│ false            ┆ true             ┆ false            ┆ false    ┆ true    │
│ false            ┆ true             ┆ false            ┆ false    ┆ true    │
│ false            ┆ true             ┆ false            ┆ false    ┆ true    │
│ …                ┆ …                ┆ …                ┆ …        ┆ …       │
│ false            ┆ true             ┆ false            ┆ false    ┆ true    │
│ false            ┆ true             ┆ false            ┆ false    ┆ true    │
│ false            ┆ true             ┆ false            ┆ false    ┆ true    │
│ false            ┆ true             ┆ false            ┆ false    ┆ true    │
└──────────────────┴──────────────────┴──────────────────┴──────────┴─────────┘

# <font color="#CD0000">Funciones </font> 
Las expresiones tienen una gran cantidad de funciones integradas, estos le permiten crear consultas complejas sin necesidad de funciones definidas por el usuario.

## Selección columna 
<font color="#474747">**SELECCIONA TODAS LAS COLUMNAS**</font>

In [9]:
##all
df_all = df.select([pl.col("*")])

##Es equivalente a
df_all = df.select([pl.all()])
print(df_all)

shape: (150, 5)
┌─────────────┬────────────┬─────────────┬────────────┬────────────────┐
│ sepallength ┆ sepalwidth ┆ petallength ┆ petalwidth ┆ class          │
│ ---         ┆ ---        ┆ ---         ┆ ---        ┆ ---            │
│ f64         ┆ f64        ┆ f64         ┆ f64        ┆ str            │
╞═════════════╪════════════╪═════════════╪════════════╪════════════════╡
│ 5.1         ┆ 3.5        ┆ 1.4         ┆ 0.2        ┆ Iris-setosa    │
│ 4.9         ┆ 3.0        ┆ 1.4         ┆ 0.2        ┆ Iris-setosa    │
│ 4.7         ┆ 3.2        ┆ 1.3         ┆ 0.2        ┆ Iris-setosa    │
│ 4.6         ┆ 3.1        ┆ 1.5         ┆ 0.2        ┆ Iris-setosa    │
│ …           ┆ …          ┆ …           ┆ …          ┆ …              │
│ 6.3         ┆ 2.5        ┆ 5.0         ┆ 1.9        ┆ Iris-virginica │
│ 6.5         ┆ 3.0        ┆ 5.2         ┆ 2.0        ┆ Iris-virginica │
│ 6.2         ┆ 3.4        ┆ 5.4         ┆ 2.3        ┆ Iris-virginica │
│ 5.9         ┆ 3.0        ┆ 5.1         ┆ 1.8        ┆ Iris-virginica │
└─────────────┴────────────┴─────────────┴────────────┴────────────────┘


<font color="#474747">**SELECCIONA TODAS LAS COLUMNAS EXCEPTO**</font>

In [10]:
##exclude  
df_exclude = df.select([pl.exclude("class")])#excluye la columna "class"
print(df_exclude)

shape: (150, 4)
┌─────────────┬────────────┬─────────────┬────────────┐
│ sepallength ┆ sepalwidth ┆ petallength ┆ petalwidth │
│ ---         ┆ ---        ┆ ---         ┆ ---        │
│ f64         ┆ f64        ┆ f64         ┆ f64        │
╞═════════════╪════════════╪═════════════╪════════════╡
│ 5.1         ┆ 3.5        ┆ 1.4         ┆ 0.2        │
│ 4.9         ┆ 3.0        ┆ 1.4         ┆ 0.2        │
│ 4.7         ┆ 3.2        ┆ 1.3         ┆ 0.2        │
│ 4.6         ┆ 3.1        ┆ 1.5         ┆ 0.2        │
│ …           ┆ …          ┆ …           ┆ …          │
│ 6.3         ┆ 2.5        ┆ 5.0         ┆ 1.9        │
│ 6.5         ┆ 3.0        ┆ 5.2         ┆ 2.0        │
│ 6.2         ┆ 3.4        ┆ 5.4         ┆ 2.3        │
│ 5.9         ┆ 3.0        ┆ 5.1         ┆ 1.8        │
└─────────────┴────────────┴─────────────┴────────────┘

## Nomenclatura de columnas   
Renombra a las columnas en un *DataFrame* con **alias( )**. En Polars, los nombres de columna deben ser únicos y no pueden contener espacios ni caracteres especiales, excepto guiones bajos y puntos.

In [27]:
## alias modifica el nombre de la columna
df_alias = df.select(
    [
        (pl.col("sepalwidth") + 5).alias("sepalwidth + 5"),
        (pl.col("sepalwidth") - 5).alias("sepalwidth - 5"),
    ]
)
print(df_alias)

shape: (150, 2)
┌────────────────┬────────────────┐
│ sepalwidth + 5 ┆ sepalwidth - 5 │
│ ---            ┆ ---            │
│ f64            ┆ f64            │
╞════════════════╪════════════════╡
│ 8.5            ┆ -1.5           │
│ 8.0            ┆ -2.0           │
│ 8.2            ┆ -1.8           │
│ 8.1            ┆ -1.9           │
│ …              ┆ …              │
│ 7.5            ┆ -2.5           │
│ 8.0            ┆ -2.0           │
│ 8.4            ┆ -1.6           │
│ 8.0            ┆ -2.0           │
└────────────────┴────────────────┘


En caso de que se desee agregar un sufijo **(suffix( ))** o un prefijo **(prefix( ))**.

In [18]:
#sufijo
df_su =df.select([
       pl.col("sepalwidth"),
        pl.col("sepalwidth").sum().suffix("_sum")]).head()

#prefijo
df_pref = df.select([
          pl.col("sepallength"),
          pl.col("sepallength").mean().prefix("mean_")]).head()

print(df_su,df_pref)

shape: (5, 2)
┌────────────┬────────────────┐
│ sepalwidth ┆ sepalwidth_sum │
│ ---        ┆ ---            │
│ f64        ┆ f64            │
╞════════════╪════════════════╡
│ 3.5        ┆ 458.1          │
│ 3.0        ┆ 458.1          │
│ 3.2        ┆ 458.1          │
│ 3.1        ┆ 458.1          │
│ 3.6        ┆ 458.1          │
└────────────┴────────────────┘ shape: (5, 2)
┌─────────────┬──────────────────┐
│ sepallength ┆ mean_sepallength │
│ ---         ┆ ---              │
│ f64         ┆ f64              │
╞═════════════╪══════════════════╡
│ 5.1         ┆ 5.843333         │
│ 4.9         ┆ 5.843333         │
│ 4.7         ┆ 5.843333         │
│ 4.6         ┆ 5.843333         │
│ 5.0         ┆ 5.843333         │
└─────────────┴──────────────────┘

## Contar valores únicos   
Dos formas de contar valores únicos por aproximación **(aprox_unique( ))** o metodología exacta **(n_unique( ))** .

In [28]:
#cuantos tipos de 'class' y 'petallength' existen
##approx_unique( ) 
df_aprox = df.select([
    
        pl.approx_unique("petallength").alias("unique_petallength"),
        pl.approx_unique("class").alias("unique_approx_clase"),  ])
  


##n_unique( ) 
df_uni = df.select([
    pl.col("petallength").n_unique().alias("longitud_petalo"),
    pl.col("class").n_unique().alias("clase"),])
    
print(df_aprox,df_uni)

shape: (1, 2)
┌────────────────────┬─────────────────────┐
│ unique_petallength ┆ unique_approx_clase │
│ ---                ┆ ---                 │
│ u32                ┆ u32                 │
╞════════════════════╪═════════════════════╡
│ 43                 ┆ 3                   │
└────────────────────┴─────────────────────┘ shape: (1, 2)
┌─────────────────┬───────┐
│ longitud_petalo ┆ clase │
│ ---             ┆ ---   │
│ u32             ┆ u32   │
╞═════════════════╪═══════╡
│ 43              ┆ 3     │
└─────────────────┴───────┘

## Condicionales  
Polars admite condiciones similares a if en expresión con la sintaxis **when**, **then**, **otherwise**.    

El predicado se coloca en **when** y cuando se evalúa como **true** se usa la expresión **then** y en **false** se usa **otherwise**.

In [29]:
df_conditional = df.select(
    [
        pl.col("sepalwidth"),
        pl.when(pl.col("sepalwidth") > 3.1)#condición
        .then(pl.lit(True))
        .otherwise(pl.lit(False))
        .alias("conditional"),
    ]
)
print(df_conditional)

shape: (150, 2)
┌────────────┬─────────────┐
│ sepalwidth ┆ conditional │
│ ---        ┆ ---         │
│ f64        ┆ bool        │
╞════════════╪═════════════╡
│ 3.5        ┆ true        │
│ 3.0        ┆ false       │
│ 3.2        ┆ true        │
│ 3.1        ┆ false       │
│ …          ┆ …           │
│ 2.5        ┆ false       │
│ 3.0        ┆ false       │
│ 3.4        ┆ true        │
│ 3.0        ┆ false       │
└────────────┴─────────────┘

# <font color="#CD0000">Fundición </font>
La fundición en Polars se refiere a la conversión de datos de una columna a otro tipo de datos.  

Si se encuentra un valor que no se puede convertir, el comportamiento predeterminado es **"strict=True"**, lo que significa que se generará un error. Pero si se establece en **"strict=False"**, los valores que no se puedan convertir se convertirán silenciosamente a "null".   

## Numerics  
Se invoca a la función **cast( )**.

In [43]:
#EJEMPLO 1
ct1 = pl.DataFrame({
    
        "integers": [1, 2, 3, 4, 5],
        "character": ["rojo", "azul", "amarillo", "verde", "blanco"],
        "floats": [4.3, 5.4, 6.7, 7.2, 8.0],   })


print(ct1)
#conversión de datos con 'cast( )'
#Los valores decimales se redoondean hacia abajo
out1 = ct1.select(
    [
        pl.col("integers").cast(pl.Float32).alias("integers_as_floats"),
        pl.col("floats").cast(pl.Int32).alias("floats_as_integers"),
        pl.col("character").cast(pl.Int16, strict=False).alias("character_as_integers")
    ])
print(out1)

shape: (5, 3)
┌──────────┬───────────┬────────┐
│ integers ┆ character ┆ floats │
│ ---      ┆ ---       ┆ ---    │
│ i64      ┆ str       ┆ f64    │
╞══════════╪═══════════╪════════╡
│ 1        ┆ rojo      ┆ 4.3    │
│ 2        ┆ azul      ┆ 5.4    │
│ 3        ┆ amarillo  ┆ 6.7    │
│ 4        ┆ verde     ┆ 7.2    │
│ 5        ┆ blanco    ┆ 8.0    │
└──────────┴───────────┴────────┘
shape: (5, 3)
┌────────────────────┬────────────────────┬───────────────────────┐
│ integers_as_floats ┆ floats_as_integers ┆ character_as_integers │
│ ---                ┆ ---                ┆ ---                   │
│ f32                ┆ i32                ┆ i16                   │
╞════════════════════╪════════════════════╪═══════════════════════╡
│ 1.0                ┆ 4                  ┆ null                  │
│ 2.0                ┆ 5                  ┆ null                  │
│ 3.0                ┆ 6                  ┆ null                  │
│ 4.0                ┆ 7                  ┆ null                  │
│ 5.0                ┆ 8                  ┆ null                  │
└────────────────────┴────────────────────┴───────────────────────┘

## Booleans   
Los booleanos se pueden expresar como **1 ( True)** o **0 ( False)**. Es posible realizar operaciones de conversión entre un numérico *DataType* y un booleano, y viceversa. Sin embargo, tenga en cuenta que no se permite la conversión de una cadena **(Utf8)** a un booleano.

In [51]:
#EJEMPLO 2
##cast(pl.Boolean)
ct4 = pl.DataFrame({
    
        "integers": [-1, 0, 2, 3, 4],
        "floats": [0.0, 1.0, 2.0, 3.0, 4.0],})
        


out5 = ct4.select([
    
        pl.col("integers").cast(pl.Boolean),
        pl.col("floats").cast(pl.Boolean),])
 
print(out5)

shape: (5, 2)
┌──────────┬────────┐
│ integers ┆ floats │
│ ---      ┆ ---    │
│ bool     ┆ bool   │
╞══════════╪════════╡
│ true     ┆ false  │
│ false    ┆ true   │
│ true     ┆ true   │
│ true     ┆ true   │
│ true     ┆ true   │
└──────────┴────────┘

## Date  
Los tipos de datos temporales como **Date** o **Datetime** se representan como el número de días (**Date**) y microsegundos (**Datetime**) desde la época.

In [54]:
#EJEMPLO 3
from datetime import date, datetime

ct5 = pl.DataFrame({
    
        "date": pl.date_range(date(2001,1, 7), date(2005, 1, 10), eager=True),
        "datetime": pl.date_range(datetime(2001,1, 7), datetime(2005, 1, 10), eager=True),
         })

out6 = ct5.select([pl.col("date").cast(pl.Int64), pl.col("datetime").cast(pl.Int64)])
print(out6)

shape: (1_465, 2)
┌───────┬──────────────────┐
│ date  ┆ datetime         │
│ ---   ┆ ---              │
│ i64   ┆ i64              │
╞═══════╪══════════════════╡
│ 11329 ┆ 978825600000000  │
│ 11330 ┆ 978912000000000  │
│ 11331 ┆ 978998400000000  │
│ 11332 ┆ 979084800000000  │
│ …     ┆ …                │
│ 12790 ┆ 1105056000000000 │
│ 12791 ┆ 1105142400000000 │
│ 12792 ┆ 1105228800000000 │
│ 12793 ┆ 1105315200000000 │
└───────┴──────────────────┘

Para realizar operaciones de conversión entre *cadenas* y *Dates*/ *Datetimes*, *strftime* y *strptime* se utilizan. Polars adopta la sintaxis de formato crono al formatear. Vale la pena señalar que *strptime* presenta opciones adicionales que admiten la funcionalidad de la zona horaria. Consulte la documentación de la API para obtener más información.

In [55]:
##strftime y strptime
ct6 = pl.DataFrame({
    
        "date": pl.date_range(date(2022, 1, 1), date(2022, 1, 5), eager=True),
        "string": [
            "2022-01-01",
            "2022-01-02",
            "2022-01-03",
            "2022-01-04",
            "2022-01-05",
        ],})
    


out7 = ct6.select([
    
        pl.col("date").dt.strftime("%Y-%m-%d"),
        pl.col("string").str.strptime(pl.Datetime, "%Y-%m-%d"),
    ])

print(out7)

shape: (5, 2)
┌────────────┬─────────────────────┐
│ date       ┆ string              │
│ ---        ┆ ---                 │
│ str        ┆ datetime[μs]        │
╞════════════╪═════════════════════╡
│ 2022-01-01 ┆ 2022-01-01 00:00:00 │
│ 2022-01-02 ┆ 2022-01-02 00:00:00 │
│ 2022-01-03 ┆ 2022-01-03 00:00:00 │
│ 2022-01-04 ┆ 2022-01-04 00:00:00 │
│ 2022-01-05 ┆ 2022-01-05 00:00:00 │
└────────────┴─────────────────────┘

# <font color="#CD0000">Strings </font>
Las operaciones realizadas en cadenas *Utf8* .

<font color="#474747">**ACCESO AL ESPACIO DE NOMBRES DE CADENA**</font>  
**str** se puede acceder al espacio de nombres a través del **.str** atributo de una columna con *Utf8* tipo de datos.

In [40]:
#lengths y n_chars
df_len = df.select(
    [
        pl.col("class").str.lengths().alias("byte_count"),#recuento de bytes
        pl.col("class").str.n_chars().alias("letter_count"),#recuento de letras
    ]
)
print(df_len)

shape: (150, 2)
┌────────────┬──────────────┐
│ byte_count ┆ letter_count │
│ ---        ┆ ---          │
│ u32        ┆ u32          │
╞════════════╪══════════════╡
│ 11         ┆ 11           │
│ 11         ┆ 11           │
│ 11         ┆ 11           │
│ 11         ┆ 11           │
│ …          ┆ …            │
│ 14         ┆ 14           │
│ 14         ┆ 14           │
│ 14         ┆ 14           │
│ 14         ┆ 14           │
└────────────┴──────────────┘

<font color="#474747">**COMPROBAR LA EXISTENCIA DE UN PATRÓN**</font>   
El **contains** es un método que acepta un patron de expresión regular.
Si la subcadena buscada se encuentra al inicio se usa **starts_with** y para el final **ends_with**.

In [59]:
df_patron = df.select(
    [
        pl.col("class"),
        pl.col("class").str.contains("nica").alias("subcadea_is"),
        pl.col("class").str.starts_with("Iris").alias("subcadea_Iris"),#inicio
        pl.col("class").str.ends_with("osa").alias("subcadea_osa"),#fin
    ]
)
print(df_patron)

shape: (150, 4)
┌────────────────┬─────────────┬───────────────┬──────────────┐
│ class          ┆ subcadea_is ┆ subcadea_Iris ┆ subcadea_osa │
│ ---            ┆ ---         ┆ ---           ┆ ---          │
│ str            ┆ bool        ┆ bool          ┆ bool         │
╞════════════════╪═════════════╪═══════════════╪══════════════╡
│ Iris-setosa    ┆ false       ┆ true          ┆ true         │
│ Iris-setosa    ┆ false       ┆ true          ┆ true         │
│ Iris-setosa    ┆ false       ┆ true          ┆ true         │
│ Iris-setosa    ┆ false       ┆ true          ┆ true         │
│ …              ┆ …           ┆ …             ┆ …            │
│ Iris-virginica ┆ true        ┆ true          ┆ false        │
│ Iris-virginica ┆ true        ┆ true          ┆ false        │
│ Iris-virginica ┆ true        ┆ true          ┆ false        │
│ Iris-virginica ┆ true        ┆ true          ┆ false        │
└────────────────┴─────────────┴───────────────┴──────────────┘

<font color="#474747">**EXTRAER UN PATRÓN**</font>   
El **extract** método nos permite extraer un patrón de una cadena específica.

In [56]:
#group_index=1 se utiliza para especificar que se extraiga el primer grupo de coincidencias del patrón (el patrón completo en este caso).
df_extract = df.select(pl.col("class").str.extract(r"setosa", group_index=0))

print(df_extract)

shape: (150, 1)
┌────────┐
│ class  │
│ ---    │
│ str    │
╞════════╡
│ setosa │
│ setosa │
│ setosa │
│ setosa │
│ …      │
│ null   │
│ null   │
│ null   │
│ null   │
└────────┘

El método **extract_all** extrae todas las ocurrencia.

In [58]:
df_extract_all = df.select(pl.col("class").str.extract_all(r"(setosa|versicolor|virginica)"))

print(df_extract_all)

shape: (150, 1)
┌───────────────┐
│ class         │
│ ---           │
│ list[str]     │
╞═══════════════╡
│ ["setosa"]    │
│ ["setosa"]    │
│ ["setosa"]    │
│ ["setosa"]    │
│ …             │
│ ["virginica"] │
│ ["virginica"] │
│ ["virginica"] │
│ ["virginica"] │
└───────────────┘

<font color="#474747">**REEMPLAZAR UN PATRÓN**</font>   
Polars proporciona los métodos **replace** y **replace_all**, ambas reemplazan patrones.

In [62]:
df_replace = df.select(pl.col("class").str.replace(r"setosa", "foo"),
                      pl.col("class").str.replace_all("Iris", "flor", literal=True).alias("remplazo_de_Iris"),)

print(df_replace)

shape: (150, 2)
┌────────────────┬──────────────────┐
│ class          ┆ remplazo_de_Iris │
│ ---            ┆ ---              │
│ str            ┆ str              │
╞════════════════╪══════════════════╡
│ Iris-foo       ┆ flor-setosa      │
│ Iris-foo       ┆ flor-setosa      │
│ Iris-foo       ┆ flor-setosa      │
│ Iris-foo       ┆ flor-setosa      │
│ …              ┆ …                │
│ Iris-virginica ┆ flor-virginica   │
│ Iris-virginica ┆ flor-virginica   │
│ Iris-virginica ┆ flor-virginica   │
│ Iris-virginica ┆ flor-virginica   │
└────────────────┴──────────────────┘

# <font color="#CD0000">Agregación </font> 
Usando **groupby**.
## Agregaciones básicas  
Se puede hacer cualquier tipo de combinación con las diferentes expresiones.

In [65]:
a = (df.lazy().groupby("class").agg
     ([pl.count(),
          pl.col("petallength"),
          pl.first("petalwidth"),  ]).sort("count", descending=True).limit(5))


df_aggre = a.collect()
print(df_aggre)

shape: (3, 4)
┌─────────────────┬───────┬───────────────────┬────────────┐
│ class           ┆ count ┆ petallength       ┆ petalwidth │
│ ---             ┆ ---   ┆ ---               ┆ ---        │
│ str             ┆ u32   ┆ list[f64]         ┆ f64        │
╞═════════════════╪═══════╪═══════════════════╪════════════╡
│ Iris-setosa     ┆ 50    ┆ [1.4, 1.4, … 1.4] ┆ 0.2        │
│ Iris-versicolor ┆ 50    ┆ [4.7, 4.5, … 4.1] ┆ 1.4        │
│ Iris-virginica  ┆ 50    ┆ [6.0, 5.1, … 5.1] ┆ 2.5        │
└─────────────────┴───────┴───────────────────┴────────────┘

## Condicionales

In [90]:
#agg es una función que agrega una columna
#la función lazy ayuda a agrupar
df_1 = (df.lazy().groupby("class").agg([pl.col("sepallength").sum()])).collect()
print(df_1)

shape: (3, 2)
┌─────────────────┬─────────────┐
│ class           ┆ sepallength │
│ ---             ┆ ---         │
│ str             ┆ f64         │
╞═════════════════╪═════════════╡
│ Iris-versicolor ┆ 296.8       │
│ Iris-setosa     ┆ 250.3       │
│ Iris-virginica  ┆ 329.4       │
└─────────────────┴─────────────┘

## Filtración  
Se puede filtrar en grupos con **filter()**.

In [91]:
df_filtrar =df.filter((pl.col("petallength")<4)&(pl.col("class")=="Iris-versicolor")
)
print(df_filtrar)

shape: (11, 5)
┌─────────────┬────────────┬─────────────┬────────────┬─────────────────┐
│ sepallength ┆ sepalwidth ┆ petallength ┆ petalwidth ┆ class           │
│ ---         ┆ ---        ┆ ---         ┆ ---        ┆ ---             │
│ f64         ┆ f64        ┆ f64         ┆ f64        ┆ str             │
╞═════════════╪════════════╪═════════════╪════════════╪═════════════════╡
│ 4.9         ┆ 2.4        ┆ 3.3         ┆ 1.0        ┆ Iris-versicolor │
│ 5.2         ┆ 2.7        ┆ 3.9         ┆ 1.4        ┆ Iris-versicolor │
│ 5.0         ┆ 2.0        ┆ 3.5         ┆ 1.0        ┆ Iris-versicolor │
│ 5.6         ┆ 2.9        ┆ 3.6         ┆ 1.3        ┆ Iris-versicolor │
│ …           ┆ …          ┆ …           ┆ …          ┆ …               │
│ 5.5         ┆ 2.4        ┆ 3.7         ┆ 1.0        ┆ Iris-versicolor │
│ 5.8         ┆ 2.7        ┆ 3.9         ┆ 1.2        ┆ Iris-versicolor │
│ 5.0         ┆ 2.3        ┆ 3.3         ┆ 1.0        ┆ Iris-versicolor │
│ 5.1         ┆ 2.5        ┆ 3.0         ┆ 1.1        ┆ Iris-versicolor │
└─────────────┴────────────┴─────────────┴────────────┴─────────────────┘

## Clasificación   
Ordenar **sort()** y agrupar **groupby()**.

In [106]:
grupo = df.groupby("class").mean() 
print(grupo)

orden = df.sort("sepalwidth")#por defecto de menor a mayor
print(orden)

shape: (3, 5)
┌─────────────────┬─────────────┬────────────┬─────────────┬────────────┐
│ class           ┆ sepallength ┆ sepalwidth ┆ petallength ┆ petalwidth │
│ ---             ┆ ---         ┆ ---        ┆ ---         ┆ ---        │
│ str             ┆ f64         ┆ f64        ┆ f64         ┆ f64        │
╞═════════════════╪═════════════╪════════════╪═════════════╪════════════╡
│ Iris-versicolor ┆ 5.936       ┆ 2.77       ┆ 4.26        ┆ 1.326      │
│ Iris-setosa     ┆ 5.006       ┆ 3.418      ┆ 1.464       ┆ 0.244      │
│ Iris-virginica  ┆ 6.588       ┆ 2.974      ┆ 5.552       ┆ 2.026      │
└─────────────────┴─────────────┴────────────┴─────────────┴────────────┘
shape: (150, 5)
┌─────────────┬────────────┬─────────────┬────────────┬─────────────────┐
│ sepallength ┆ sepalwidth ┆ petallength ┆ petalwidth ┆ class           │
│ ---         ┆ ---        ┆ ---         ┆ ---        ┆ ---             │
│ f64         ┆ f64        ┆ f64         ┆ f64        ┆ str             │
╞═════════════╪════════════╪═════════════╪════════════╪═════════════════╡
│ 5.0         ┆ 2.0        ┆ 3.5         ┆ 1.0        ┆ Iris-versicolor │
│ 6.0         ┆ 2.2        ┆ 4.0         ┆ 1.0        ┆ Iris-versicolor │
│ 6.2         ┆ 2.2        ┆ 4.5         ┆ 1.5        ┆ Iris-versicolor │
│ 6.0         ┆ 2.2        ┆ 5.0         ┆ 1.5        ┆ Iris-virginica  │
│ …           ┆ …          ┆ …           ┆ …          ┆ …               │
│ 5.8         ┆ 4.0        ┆ 1.2         ┆ 0.2        ┆ Iris-setosa     │
│ 5.2         ┆ 4.1        ┆ 1.5         ┆ 0.1        ┆ Iris-setosa     │
│ 5.5         ┆ 4.2        ┆ 1.4         ┆ 0.2        ┆ Iris-setosa     │
│ 5.7         ┆ 4.4        ┆ 1.5         ┆ 0.4        ┆ Iris-setosa     │
└─────────────┴────────────┴─────────────┴────────────┴─────────────────┘

# <font color="#CD0000">Datos perdidos </font> 
## null  
Los datos que faltan se representan en Arrows y Polars con un null,este **null** valor faltante se aplica a todos los tipos de datos, incluidos los valores numéricos.

In [5]:
#EJEMPLO 4
EJ4 = pl.DataFrame({
        "col1": [1, 2, 3],
        "col2": [16, None, 48],
        "col3":["manzana","fresa ","uva"]
    },)
print(EJ4)

shape: (3, 3)
┌──────┬──────┬─────────┐
│ col1 ┆ col2 ┆ col3    │
│ ---  ┆ ---  ┆ ---     │
│ i64  ┆ i64  ┆ str     │
╞══════╪══════╪═════════╡
│ 1    ┆ 16   ┆ manzana │
│ 2    ┆ null ┆ fresa   │
│ 3    ┆ 48   ┆ uva     │
└──────┴──────┴─────────┘

### <font color="#474747">Filtrar con is_null y is_not_null</font>

In [6]:
##is_null
EJ4_isnull = EJ4.filter(pl.col("col2").is_null())
print(EJ4_isnull)#filtra la filas con datos nulos

##is_not_null
EJ4_isnot = EJ4.filter(pl.col("col2").is_not_null())
print(EJ4_isnot)#filtra todas las filas sin datos nulos

shape: (1, 3)
┌──────┬──────┬────────┐
│ col1 ┆ col2 ┆ col3   │
│ ---  ┆ ---  ┆ ---    │
│ i64  ┆ i64  ┆ str    │
╞══════╪══════╪════════╡
│ 2    ┆ null ┆ fresa  │
└──────┴──────┴────────┘
shape: (2, 3)
┌──────┬──────┬─────────┐
│ col1 ┆ col2 ┆ col3    │
│ ---  ┆ ---  ┆ ---     │
│ i64  ┆ i64  ┆ str     │
╞══════╪══════╪═════════╡
│ 1    ┆ 16   ┆ manzana │
│ 3    ┆ 48   ┆ uva     │
└──────┴──────┴─────────┘

### <font color="#474747">Rellenar datos faltantes </font> 
Usando **fill_null( )**.

- **Rellenar con un valor específico**
Usando **pl.lit( )** .

In [7]:
valor = EJ4.with_columns(pl.col("col2").fill_null(pl.lit(32)))
print(valor)

shape: (3, 3)
┌──────┬──────┬─────────┐
│ col1 ┆ col2 ┆ col3    │
│ ---  ┆ ---  ┆ ---     │
│ i64  ┆ i64  ┆ str     │
╞══════╪══════╪═════════╡
│ 1    ┆ 16   ┆ manzana │
│ 2    ┆ 32   ┆ fresa   │
│ 3    ┆ 48   ┆ uva     │
└──────┴──────┴─────────┘

- **Rellenar con una expresión**

In [118]:
exp = EJ4.with_columns(pl.col("col2").fill_null(pl.sum("col2")))
print(exp)

shape: (3, 3)
┌──────┬──────┬─────────┐
│ col1 ┆ col2 ┆ col3    │
│ ---  ┆ ---  ┆ ---     │
│ i64  ┆ i64  ┆ str     │
╞══════╪══════╪═════════╡
│ 1    ┆ 16   ┆ manzana │
│ 2    ┆ 64   ┆ fresa   │
│ 3    ┆ 48   ┆ uva     │
└──────┴──────┴─────────┘

- **Rellenar con interpolación**   
Usando **interpolate( )**.

In [120]:
polacion = EJ4.with_columns("col2").interpolate()
print(polacion)

shape: (3, 3)
┌──────┬──────┬─────────┐
│ col1 ┆ col2 ┆ col3    │
│ ---  ┆ ---  ┆ ---     │
│ i64  ┆ i64  ┆ str     │
╞══════╪══════╪═════════╡
│ 1    ┆ 16   ┆ manzana │
│ 2    ┆ 32   ┆ fresa   │
│ 3    ┆ 48   ┆ uva     │
└──────┴──────┴─────────┘

## NotaNumbero NaN valores
Polars también permite **NotaNumber** o **NaN** valores para columnas flotantes,en Polars no se consideran datos faltantes.

In [125]:
import numpy as np

#EJEMPLO 5
EJ5 = pl.DataFrame({"valor":[1.0,np.NaN,float("nan"),21]})
print(EJ5)

shape: (4, 1)
┌───────┐
│ valor │
│ ---   │
│ f64   │
╞═══════╡
│ 1.0   │
│ NaN   │
│ NaN   │
│ 21.0  │
└───────┘

Tienen las funciones de **is_nan( )** y **fill_nan( )**.

In [135]:
#fill_nan
fill_nan = EJ5.with_columns(pl.col("valor").fill_nan(None)).mean()
print(fill_nan)#saca la media de los valores que no sean "NaN"

#is_nan
is_nan = EJ5.with_columns(pl.col("valor").is_nan())
print(is_nan)#todos los datos NaN

shape: (1, 1)
┌───────┐
│ valor │
│ ---   │
│ f64   │
╞═══════╡
│ 11.0  │
└───────┘
shape: (4, 1)
┌───────┐
│ valor │
│ ---   │
│ bool  │
╞═══════╡
│ false │
│ true  │
│ true  │
│ false │
└───────┘

# <font color="#CD0000">Folds </font> 
Polars permite dividir un *DataFrame* en un número específico de pliegues(folds).Luego se puede aplicar una función específica a cada pliegue en paralelo para acelerar el procesamiento.

In [136]:
#EJEMPLO 6
EJ6 = pl.DataFrame({"col1":[1,2,3],
                   "col2":[10,20,30],
                   "col3":[5,15,25]})
print(EJ6)

shape: (3, 3)
┌──────┬──────┬──────┐
│ col1 ┆ col2 ┆ col3 │
│ ---  ┆ ---  ┆ ---  │
│ i64  ┆ i64  ┆ i64  │
╞══════╪══════╪══════╡
│ 1    ┆ 10   ┆ 5    │
│ 2    ┆ 20   ┆ 15   │
│ 3    ┆ 30   ┆ 25   │
└──────┴──────┴──────┘

## Suma manual  
Usando **sum( )** y **fold( )**.

In [137]:
#se hace una suma por filas
sum_manu = EJ6.select(
    pl.fold(acc=pl.lit(0), function=lambda acc, x: acc + x, exprs=pl.all())
    .alias("sum"),)

print(sum_manu)

shape: (3, 1)
┌─────┐
│ sum │
│ --- │
│ i64 │
╞═════╡
│ 16  │
│ 37  │
│ 58  │
└─────┘

## Condicional

In [140]:
#filtra la(s) donde todos sus elementos cumplan con la condición
condicional = EJ6.filter(
    pl.fold(acc=pl.lit(True),function=lambda acc, x: acc & x,
            exprs=pl.col("*") > 2,))#condición

print(condicional)

shape: (1, 3)
┌──────┬──────┬──────┐
│ col1 ┆ col2 ┆ col3 │
│ ---  ┆ ---  ┆ ---  │
│ i64  ┆ i64  ┆ i64  │
╞══════╪══════╪══════╡
│ 3    ┆ 30   ┆ 25   │
└──────┴──────┴──────┘

## Datos de pliegues y cuerdas  
Usando **concat_str( ).**

In [145]:
#Concatenación por filas
fs = EJ6.select([pl.concat_str(["col1","col2","col3"]).alias("concatenación"), ])

print(fs)

shape: (3, 1)
┌───────────────┐
│ concatenación │
│ ---           │
│ str           │
╞═══════════════╡
│ 1105          │
│ 22015         │
│ 33025         │
└───────────────┘

# <font color="#CD0000">Listas </font>

In [155]:
#EJEMPLO 7
EJ7 = pl.DataFrame({
        "alumnos":["Ivan","Ariana","Frank","Angie"],
        "aritmetica":[14,12,17,15],
        "quimica":[15,13,18,14],
        "literatura":[14,18,16,17],
})
print(EJ7)

shape: (4, 4)
┌─────────┬────────────┬─────────┬────────────┐
│ alumnos ┆ aritmetica ┆ quimica ┆ literatura │
│ ---     ┆ ---        ┆ ---     ┆ ---        │
│ str     ┆ i64        ┆ i64     ┆ i64        │
╞═════════╪════════════╪═════════╪════════════╡
│ Ivan    ┆ 14         ┆ 15      ┆ 14         │
│ Ariana  ┆ 12         ┆ 13      ┆ 18         │
│ Frank   ┆ 17         ┆ 18      ┆ 16         │
│ Angie   ┆ 15         ┆ 14      ┆ 17         │
└─────────┴────────────┴─────────┴────────────┘

## Calculos en filas  
Las operaciones de lista se pueden realizar utilizando el espacio de nombres **pl.list**, que proporciona varias funciones útiles para trabajar con 'listas', como 'flatten', 'unique', 'slice', 'length', entre otras.
También existe **concat_list** .

In [150]:
#se excluye la columna alumnos y se forma una columna llamada "calificaciones" 
#con las notas de los alumnos en listas

listas =EJ7.select([pl.concat_list(pl.all().exclude("alumnos"))
                    .alias("calificaciones")])
print(listas)

shape: (4, 1)
┌────────────────┐
│ calificaciones │
│ ---            │
│ list[i64]      │
╞════════════════╡
│ [14, 15, 14]   │
│ [12, 13, 18]   │
│ [17, 18, 16]   │
│ [15, 14, 17]   │
└────────────────┘

# <font color="#CD0000">Funciones definidas por el usuario </font>

In [160]:
#Ejemplo 8
EJ8 = pl.DataFrame({
    "keys":["a","c","c"],
    "values":[14,25,36],
})

print(EJ8)

shape: (3, 2)
┌──────┬────────┐
│ keys ┆ values │
│ ---  ┆ ---    │
│ str  ┆ i64    │
╞══════╪════════╡
│ a    ┆ 14     │
│ c    ┆ 25     │
│ c    ┆ 36     │
└──────┴────────┘

In [168]:
#ejericio 1
out1 = EJ8.groupby("keys", maintain_order=True).agg(
    [
        pl.col("values").map(lambda s: s.shift()).alias("shift_map"),
        pl.col("values").shift().alias("shift_expression"),
    ]
)
print(out1)

shape: (2, 3)
┌──────┬───────────┬──────────────────┐
│ keys ┆ shift_map ┆ shift_expression │
│ ---  ┆ ---       ┆ ---              │
│ str  ┆ list[i64] ┆ list[i64]        │
╞══════╪═══════════╪══════════════════╡
│ a    ┆ [null]    ┆ [null]           │
│ c    ┆ [14, 25]  ┆ [null, 25]       │
└──────┴───────────┴──────────────────┘

Se puede comprobar que los resultados en el ejercicio 1 no son los correctos ya que c tiene valores de a.
Ahora se arreglara el ejercicio 1.

In [169]:
out2 = EJ8.groupby("keys", maintain_order=True).agg(
    [
        pl.col("values").apply(lambda s: s.shift()).alias("shift_map"),
        pl.col("values").shift().alias("shift_expression"),
    ]
)
print(out2)

shape: (2, 3)
┌──────┬────────────┬──────────────────┐
│ keys ┆ shift_map  ┆ shift_expression │
│ ---  ┆ ---        ┆ ---              │
│ str  ┆ list[i64]  ┆ list[i64]        │
╞══════╪════════════╪══════════════════╡
│ a    ┆ [null]     ┆ [null]           │
│ c    ┆ [null, 25] ┆ [null, 25]       │
└──────┴────────────┴──────────────────┘

# <font color="#CD0000">Numpy </font>  
Polars admite alguna funciones *Numpy* .

In [164]:
import numpy as np  
#Excluimos la columna 'class' por no tener datos numericos
df_sinclass = df.select([
    pl.exclude("class")])#usando numpy
  
#Ahora todas las otras columnas son reemplazadas por sus logaritmos
df_su = df_sinclass.select( [
        np.log(pl.all()).suffix("_log"),])#usando polars

print(df_su)

shape: (150, 4)
┌─────────────────┬────────────────┬─────────────────┬────────────────┐
│ sepallength_log ┆ sepalwidth_log ┆ petallength_log ┆ petalwidth_log │
│ ---             ┆ ---            ┆ ---             ┆ ---            │
│ f64             ┆ f64            ┆ f64             ┆ f64            │
╞═════════════════╪════════════════╪═════════════════╪════════════════╡
│ 1.629241        ┆ 1.252763       ┆ 0.336472        ┆ -1.609438      │
│ 1.589235        ┆ 1.098612       ┆ 0.336472        ┆ -1.609438      │
│ 1.547563        ┆ 1.163151       ┆ 0.262364        ┆ -1.609438      │
│ 1.526056        ┆ 1.131402       ┆ 0.405465        ┆ -1.609438      │
│ …               ┆ …              ┆ …               ┆ …              │
│ 1.84055         ┆ 0.916291       ┆ 1.609438        ┆ 0.641854       │
│ 1.871802        ┆ 1.098612       ┆ 1.648659        ┆ 0.693147       │
│ 1.824549        ┆ 1.223775       ┆ 1.686399        ┆ 0.832909       │
│ 1.774952        ┆ 1.098612       ┆ 1.629241        ┆ 0.587787       │
└─────────────────┴────────────────┴─────────────────┴────────────────┘

### OTRAS FUNCIONES NUMPY EN POLARS 
**np.exp()**: Esta función devuelve el exponencial de un número. Es decir, eleva el número a la constante matemática e, que es aproximadamente 2.718.

In [170]:
# Aplicar función np.exp() a la columna "sepallength"
out3 = df.select(pl.col("sepallength").apply(lambda x: np.exp(x)).alias("exp"))

print(out3)

shape: (150, 1)
┌────────────┐
│ exp        │
│ ---        │
│ f64        │
╞════════════╡
│ 164.021907 │
│ 134.28978  │
│ 109.947172 │
│ 99.484316  │
│ …          │
│ 544.57191  │
│ 665.141633 │
│ 492.749041 │
│ 365.037468 │
└────────────┘

**np.cos()**: Esta función devuelve el coseno de un número. El coseno es una función trigonométrica que devuelve el cociente de la longitud del cateto adyacente y la hipotenusa de un triángulo rectángulo.

In [171]:
# Aplicar función np.cos() a la columna "sepal_length"
out4 = df.select(pl.col("sepallength").apply(lambda x: np.cos(x)).alias("cos"))

print(out4)

shape: (150, 1)
┌───────────┐
│ cos       │
│ ---       │
│ f64       │
╞═══════════╡
│ 0.377978  │
│ 0.186512  │
│ -0.012389 │
│ -0.112153 │
│ …         │
│ 0.999859  │
│ 0.976588  │
│ 0.996542  │
│ 0.927478  │
└───────────┘