# Transformaciones

## Joins
<b>Los joins son una serie de sentencias las cuales tienen como objetivo el combinar 2 tablas de datos. Dependiendo del objetivo del usuario estas pueden separarse en:</b>

- Inner join
- Left join
- Outer join
- Cross join
- Semi join
- Anti join
- Asof join


![joins](https://help.pyramidanalytics.com/content/root/MainClient/apps/Model/Model%20Pro/Data%20Flow/Joins/Images/UnionDiagram.png)

Con el proposito de presentar mejor cada función, crearemos 2 data frames, el primero llamado 'Estudiantes', el cual tendra como atributos: 'ID_Estudiante','Nombre', 'Edad', 'Carrera' y 'Sexo'. Y el segundo llamado 'Notas', el cual tendra como atributos:'ID_Notas', 'ID_Estudiante' y 'Nota'. La llave foranea (es decir la columna que unira a ambos data frames) sera 'ID_Estudiante'.

In [34]:
import polars as pl
from datetime import datetime

Estudiantes = pl.DataFrame({"ID_Estudiante":[1001,1002,1003,1004,1005,1006]
                            ,"Nombre":["Juliana","Fernando","Lucero","Josselyn","Ismael","Ximena"]
                     , "Edad":[21,19,19,20,29,20], "Carrera":["Estadistica Informatica","Economia","Gestion","Gestion","Economia","Estadistica Informatica"]
                     , "Sexo":["F","M","F","F","M","F"]})

Notas = pl.DataFrame({"ID_Notas":[2001,2002,2003,2004,2005], "ID_Estudiante":[1001,1002,1003,1004,1005],"Nota":[18,0,10,17,20]})

print(Estudiantes)
print(Notas)

shape: (6, 5)
┌───────────────┬──────────┬──────┬─────────────────────────┬──────┐
│ ID_Estudiante ┆ Nombre   ┆ Edad ┆ Carrera                 ┆ Sexo │
│ ---           ┆ ---      ┆ ---  ┆ ---                     ┆ ---  │
│ i64           ┆ str      ┆ i64  ┆ str                     ┆ str  │
╞═══════════════╪══════════╪══════╪═════════════════════════╪══════╡
│ 1001          ┆ Juliana  ┆ 21   ┆ Estadistica Informatica ┆ F    │
│ 1002          ┆ Fernando ┆ 19   ┆ Economia                ┆ M    │
│ 1003          ┆ Lucero   ┆ 19   ┆ Gestion                 ┆ F    │
│ 1004          ┆ Josselyn ┆ 20   ┆ Gestion                 ┆ F    │
│ 1005          ┆ Ismael   ┆ 29   ┆ Economia                ┆ M    │
│ 1006          ┆ Ximena   ┆ 20   ┆ Estadistica Informatica ┆ F    │
└───────────────┴──────────┴──────┴─────────────────────────┴──────┘
shape: (5, 3)
┌──────────┬───────────────┬──────┐
│ ID_Notas ┆ ID_Estudiante ┆ Nota │
│ ---      ┆ ---           ┆ ---  │
│ i64      ┆ i64           ┆ i64  │
╞══════════╪═══════════════╪══════╡
│ 2001     ┆ 1001          ┆ 18   │
│ 2002     ┆ 1002          ┆ 0    │
│ 2003     ┆ 1003          ┆ 10   │
│ 2004     ┆ 1004          ┆ 17   │
│ 2005     ┆ 1005          ┆ 20   │
└──────────┴───────────────┴──────┘

### Inner join:
<b>La función 'inner join' une aquellas filas de ambas tablas que tengan un parametro en comun el cual sera definido por 'on', es decir que generara un data frame con la interseccion de ambas tablas.</b>

In [35]:
inner_join = Estudiantes.join(Notas,how="inner",on="ID_Estudiante")

print(inner_join)

shape: (5, 7)
┌───────────────┬──────────┬──────┬─────────────────────────┬──────┬──────────┬──────┐
│ ID_Estudiante ┆ Nombre   ┆ Edad ┆ Carrera                 ┆ Sexo ┆ ID_Notas ┆ Nota │
│ ---           ┆ ---      ┆ ---  ┆ ---                     ┆ ---  ┆ ---      ┆ ---  │
│ i64           ┆ str      ┆ i64  ┆ str                     ┆ str  ┆ i64      ┆ i64  │
╞═══════════════╪══════════╪══════╪═════════════════════════╪══════╪══════════╪══════╡
│ 1001          ┆ Juliana  ┆ 21   ┆ Estadistica Informatica ┆ F    ┆ 2001     ┆ 18   │
│ 1002          ┆ Fernando ┆ 19   ┆ Economia                ┆ M    ┆ 2002     ┆ 0    │
│ 1003          ┆ Lucero   ┆ 19   ┆ Gestion                 ┆ F    ┆ 2003     ┆ 10   │
│ 1004          ┆ Josselyn ┆ 20   ┆ Gestion                 ┆ F    ┆ 2004     ┆ 17   │
│ 1005          ┆ Ismael   ┆ 29   ┆ Economia                ┆ M    ┆ 2005     ┆ 20   │
└───────────────┴──────────┴──────┴─────────────────────────┴──────┴──────────┴──────┘

### Left join:
<b>La función 'left join' une aquellas filas de la segunda tabla que tengan un parametro en comun con la primera tabla, manteniendo esta ultima.</b>

In [36]:
left_join_1 = Estudiantes.join(Notas,how="left",on="ID_Estudiante")

left_join_2 = Notas.join(Estudiantes,how="left",on="ID_Estudiante")

print(left_join_1)
print(left_join_2)

shape: (6, 7)
┌───────────────┬──────────┬──────┬─────────────────────────┬──────┬──────────┬──────┐
│ ID_Estudiante ┆ Nombre   ┆ Edad ┆ Carrera                 ┆ Sexo ┆ ID_Notas ┆ Nota │
│ ---           ┆ ---      ┆ ---  ┆ ---                     ┆ ---  ┆ ---      ┆ ---  │
│ i64           ┆ str      ┆ i64  ┆ str                     ┆ str  ┆ i64      ┆ i64  │
╞═══════════════╪══════════╪══════╪═════════════════════════╪══════╪══════════╪══════╡
│ 1001          ┆ Juliana  ┆ 21   ┆ Estadistica Informatica ┆ F    ┆ 2001     ┆ 18   │
│ 1002          ┆ Fernando ┆ 19   ┆ Economia                ┆ M    ┆ 2002     ┆ 0    │
│ 1003          ┆ Lucero   ┆ 19   ┆ Gestion                 ┆ F    ┆ 2003     ┆ 10   │
│ 1004          ┆ Josselyn ┆ 20   ┆ Gestion                 ┆ F    ┆ 2004     ┆ 17   │
│ 1005          ┆ Ismael   ┆ 29   ┆ Economia                ┆ M    ┆ 2005     ┆ 20   │
│ 1006          ┆ Ximena   ┆ 20   ┆ Estadistica Informatica ┆ F    ┆ null     ┆ null │
└───────────────┴──────────┴──────┴─────────────────────────┴──────┴──────────┴──────┘
shape: (5, 7)
┌──────────┬───────────────┬──────┬──────────┬──────┬─────────────────────────┬──────┐
│ ID_Notas ┆ ID_Estudiante ┆ Nota ┆ Nombre   ┆ Edad ┆ Carrera                 ┆ Sexo │
│ ---      ┆ ---           ┆ ---  ┆ ---      ┆ ---  ┆ ---                     ┆ ---  │
│ i64      ┆ i64           ┆ i64  ┆ str      ┆ i64  ┆ str                     ┆ str  │
╞══════════╪═══════════════╪══════╪══════════╪══════╪═════════════════════════╪══════╡
│ 2001     ┆ 1001          ┆ 18   ┆ Juliana  ┆ 21   ┆ Estadistica Informatica ┆ F    │
│ 2002     ┆ 1002          ┆ 0    ┆ Fernando ┆ 19   ┆ Economia                ┆ M    │
│ 2003     ┆ 1003          ┆ 10   ┆ Lucero   ┆ 19   ┆ Gestion                 ┆ F    │
│ 2004     ┆ 1004          ┆ 17   ┆ Josselyn ┆ 20   ┆ Gestion                 ┆ F    │
│ 2005     ┆ 1005          ┆ 20   ┆ Ismael   ┆ 29   ┆ Economia                ┆ M    │
└──────────┴───────────────┴──────┴──────────┴──────┴─────────────────────────┴──────┘

### Outer join:
<b>La función 'outer join' que genera un data frame con las filas de ambos data frames ingresados, ademas pueden existir columnas nulas si la clave foranea no existe en la segunda tabla.</b>

In [37]:
outer_join_1 = Estudiantes.join(Notas,on = "ID_Estudiante",how="outer")

outer_join_2 = Notas.join(Estudiantes, on = "ID_Estudiante",how= "outer")

print(outer_join_1)
print(outer_join_2)

shape: (6, 7)
┌───────────────┬──────────┬──────┬─────────────────────────┬──────┬──────────┬──────┐
│ ID_Estudiante ┆ Nombre   ┆ Edad ┆ Carrera                 ┆ Sexo ┆ ID_Notas ┆ Nota │
│ ---           ┆ ---      ┆ ---  ┆ ---                     ┆ ---  ┆ ---      ┆ ---  │
│ i64           ┆ str      ┆ i64  ┆ str                     ┆ str  ┆ i64      ┆ i64  │
╞═══════════════╪══════════╪══════╪═════════════════════════╪══════╪══════════╪══════╡
│ 1001          ┆ Juliana  ┆ 21   ┆ Estadistica Informatica ┆ F    ┆ 2001     ┆ 18   │
│ 1002          ┆ Fernando ┆ 19   ┆ Economia                ┆ M    ┆ 2002     ┆ 0    │
│ 1003          ┆ Lucero   ┆ 19   ┆ Gestion                 ┆ F    ┆ 2003     ┆ 10   │
│ 1004          ┆ Josselyn ┆ 20   ┆ Gestion                 ┆ F    ┆ 2004     ┆ 17   │
│ 1005          ┆ Ismael   ┆ 29   ┆ Economia                ┆ M    ┆ 2005     ┆ 20   │
│ 1006          ┆ Ximena   ┆ 20   ┆ Estadistica Informatica ┆ F    ┆ null     ┆ null │
└───────────────┴──────────┴──────┴─────────────────────────┴──────┴──────────┴──────┘
shape: (6, 7)
┌──────────┬───────────────┬──────┬──────────┬──────┬─────────────────────────┬──────┐
│ ID_Notas ┆ ID_Estudiante ┆ Nota ┆ Nombre   ┆ Edad ┆ Carrera                 ┆ Sexo │
│ ---      ┆ ---           ┆ ---  ┆ ---      ┆ ---  ┆ ---                     ┆ ---  │
│ i64      ┆ i64           ┆ i64  ┆ str      ┆ i64  ┆ str                     ┆ str  │
╞══════════╪═══════════════╪══════╪══════════╪══════╪═════════════════════════╪══════╡
│ 2001     ┆ 1001          ┆ 18   ┆ Juliana  ┆ 21   ┆ Estadistica Informatica ┆ F    │
│ 2002     ┆ 1002          ┆ 0    ┆ Fernando ┆ 19   ┆ Economia                ┆ M    │
│ 2003     ┆ 1003          ┆ 10   ┆ Lucero   ┆ 19   ┆ Gestion                 ┆ F    │
│ 2004     ┆ 1004          ┆ 17   ┆ Josselyn ┆ 20   ┆ Gestion                 ┆ F    │
│ 2005     ┆ 1005          ┆ 20   ┆ Ismael   ┆ 29   ┆ Economia                ┆ M    │
│ null     ┆ 1006          ┆ null ┆ Ximena   ┆ 20   ┆ Estadistica Informatica ┆ F    │
└──────────┴───────────────┴──────┴──────────┴──────┴─────────────────────────┴──────┘

### Cross join:
<b>La función 'cross join' genera un data frame con todas las posibles combinaciones de filas entre los 2 data frame ingresados.</b>

En este ejemplo queremos obtener todas las maneras diferentes en que podemos vestir a una persona, para ello, creamos 2 data frames, el primero llamado 'camisas' el cual tendra como atributos 'camisa_color' con los posibles colores de camisas y 'Marca_camisa' con las respectivas marcas de camisas, el segundo data frame contendra 'pantalon_color' con los posibles colores de pantalones y 'Marca_pantalon' con las respetivas marcas de pantalones.

In [38]:
Camisas = pl.DataFrame({"Camisa_Color":["Rojo","Azul","Negro"], "Marca_Camisa":["Charvet","Lorenzini","Kabbaz"]})

Pantalones = pl.DataFrame({"Pantalon_Color":["Negro","Marron","Azul"], "Marca_pantalon":["Levis","The brand","AJ"]})

print(Camisas)
print(Pantalones)

shape: (3, 2)
┌──────────────┬──────────────┐
│ Camisa_Color ┆ Marca_Camisa │
│ ---          ┆ ---          │
│ str          ┆ str          │
╞══════════════╪══════════════╡
│ Rojo         ┆ Charvet      │
│ Azul         ┆ Lorenzini    │
│ Negro        ┆ Kabbaz       │
└──────────────┴──────────────┘
shape: (3, 2)
┌────────────────┬────────────────┐
│ Pantalon_Color ┆ Marca_pantalon │
│ ---            ┆ ---            │
│ str            ┆ str            │
╞════════════════╪════════════════╡
│ Negro          ┆ Levis          │
│ Marron         ┆ The brand      │
│ Azul           ┆ AJ             │
└────────────────┴────────────────┘

In [39]:
Cross_join = Camisas.join(Pantalones,how="cross")
print(Cross_join)

shape: (9, 4)
┌──────────────┬──────────────┬────────────────┬────────────────┐
│ Camisa_Color ┆ Marca_Camisa ┆ Pantalon_Color ┆ Marca_pantalon │
│ ---          ┆ ---          ┆ ---            ┆ ---            │
│ str          ┆ str          ┆ str            ┆ str            │
╞══════════════╪══════════════╪════════════════╪════════════════╡
│ Rojo         ┆ Charvet      ┆ Negro          ┆ Levis          │
│ Rojo         ┆ Charvet      ┆ Marron         ┆ The brand      │
│ Rojo         ┆ Charvet      ┆ Azul           ┆ AJ             │
│ Azul         ┆ Lorenzini    ┆ Negro          ┆ Levis          │
│ Azul         ┆ Lorenzini    ┆ Marron         ┆ The brand      │
│ Azul         ┆ Lorenzini    ┆ Azul           ┆ AJ             │
│ Negro        ┆ Kabbaz       ┆ Negro          ┆ Levis          │
│ Negro        ┆ Kabbaz       ┆ Marron         ┆ The brand      │
│ Negro        ┆ Kabbaz       ┆ Azul           ┆ AJ             │
└──────────────┴──────────────┴────────────────┴────────────────┘

### Semi join:
<b>La función 'semi join' tiene como objetivo generar un data frame con los mismos atributos de la primera tabla pero manteniendo solo aquellas filas las cuales tenian una llave foranea que aparecia tambien en la segunda tabla.</b>

In [40]:
semi_join_1 = Estudiantes.join(Notas,how="semi",on="ID_Estudiante")
print(semi_join_1)

semi_join_2 = Notas.join(Estudiantes,how="semi",on="ID_Estudiante")
print(semi_join_2)

shape: (5, 5)
┌───────────────┬──────────┬──────┬─────────────────────────┬──────┐
│ ID_Estudiante ┆ Nombre   ┆ Edad ┆ Carrera                 ┆ Sexo │
│ ---           ┆ ---      ┆ ---  ┆ ---                     ┆ ---  │
│ i64           ┆ str      ┆ i64  ┆ str                     ┆ str  │
╞═══════════════╪══════════╪══════╪═════════════════════════╪══════╡
│ 1001          ┆ Juliana  ┆ 21   ┆ Estadistica Informatica ┆ F    │
│ 1002          ┆ Fernando ┆ 19   ┆ Economia                ┆ M    │
│ 1003          ┆ Lucero   ┆ 19   ┆ Gestion                 ┆ F    │
│ 1004          ┆ Josselyn ┆ 20   ┆ Gestion                 ┆ F    │
│ 1005          ┆ Ismael   ┆ 29   ┆ Economia                ┆ M    │
└───────────────┴──────────┴──────┴─────────────────────────┴──────┘
shape: (5, 3)
┌──────────┬───────────────┬──────┐
│ ID_Notas ┆ ID_Estudiante ┆ Nota │
│ ---      ┆ ---           ┆ ---  │
│ i64      ┆ i64           ┆ i64  │
╞══════════╪═══════════════╪══════╡
│ 2001     ┆ 1001          ┆ 18   │
│ 2002     ┆ 1002          ┆ 0    │
│ 2003     ┆ 1003          ┆ 10   │
│ 2004     ┆ 1004          ┆ 17   │
│ 2005     ┆ 1005          ┆ 20   │
└──────────┴───────────────┴──────┘

### Anti join:
<b>La función 'anti join' tiene como objetivo el devolver un data frame con los mismos atributos de la primera tabla pero manteniendo solo aquellas filas las cuales NO tenian una llave foranea que aparecia tambien en la segunda tabla.</b>

Para explicar mejor esta y la función que sigue crearemos unos nuevos data frames, los cuales seran, 'Vendedores' con atributos: 'ID_Vendedor' y 'Nombre'. Y 'Ventas' con atributos: 'ID_Venta', 'Monto', 'ID_Vendedor' y 'Fecha y hora'. En las que el atributo 'ID_Vendedor' estara designada como llave foranea.

In [33]:
Vendedores = pl.DataFrame({"ID_Vendedor":[2001,2002,2003,2004], "Nombre":["Luigi","Antonio","Ismael","Diego"]})

Ventas = pl.DataFrame({"ID_Venta":[1,2,3,4,5,6,7], "Monto":[150,200,70,97,500,466,500],
                       "ID_Vendedor":[2001,2004,2001,2004,2001,2001,2001],
                      "Fecha y hora":[datetime(2023,1,1,8,35,0),datetime(2023,1,1,9,35,0),datetime(2023,1,1,10,35,0),
                                      datetime(2023,1,1,8,20,0),datetime(2023,1,1,10,15,0),datetime(2023,1,1,13,35,0),
                                      datetime(2023,1,1,15,35,0)]})
print(Vendedores)
print(Ventas)

shape: (4, 2)
┌─────────────┬─────────┐
│ ID_Vendedor ┆ Nombre  │
│ ---         ┆ ---     │
│ i64         ┆ str     │
╞═════════════╪═════════╡
│ 2001        ┆ Luigi   │
│ 2002        ┆ Antonio │
│ 2003        ┆ Ismael  │
│ 2004        ┆ Diego   │
└─────────────┴─────────┘
shape: (7, 4)
┌──────────┬───────┬─────────────┬─────────────────────┐
│ ID_Venta ┆ Monto ┆ ID_Vendedor ┆ Fecha y hora        │
│ ---      ┆ ---   ┆ ---         ┆ ---                 │
│ i64      ┆ i64   ┆ i64         ┆ datetime[μs]        │
╞══════════╪═══════╪═════════════╪═════════════════════╡
│ 1        ┆ 150   ┆ 2001        ┆ 2023-01-01 08:35:00 │
│ 2        ┆ 200   ┆ 2004        ┆ 2023-01-01 09:35:00 │
│ 3        ┆ 70    ┆ 2001        ┆ 2023-01-01 10:35:00 │
│ 4        ┆ 97    ┆ 2004        ┆ 2023-01-01 08:20:00 │
│ 5        ┆ 500   ┆ 2001        ┆ 2023-01-01 10:15:00 │
│ 6        ┆ 466   ┆ 2001        ┆ 2023-01-01 13:35:00 │
│ 7        ┆ 500   ┆ 2001        ┆ 2023-01-01 15:35:00 │
└──────────┴───────┴─────────────┴─────────────────────┘

In [32]:
anti_join_1 = Vendedores.join(Ventas,how="anti",on="ID_Vendedor")
anti_join_2 = Ventas.join(Vendedores,how="anti",on="ID_Vendedor")
print(anti_join_1)
print(anti_join_2)

shape: (2, 2)
┌─────────────┬─────────┐
│ ID_Vendedor ┆ Nombre  │
│ ---         ┆ ---     │
│ i64         ┆ str     │
╞═════════════╪═════════╡
│ 2002        ┆ Antonio │
│ 2003        ┆ Ismael  │
└─────────────┴─────────┘
shape: (0, 4)
┌──────────┬───────┬─────────────┬──────────────┐
│ ID_Venta ┆ Monto ┆ ID_Vendedor ┆ Fecha y hora │
│ ---      ┆ ---   ┆ ---         ┆ ---          │
│ i64      ┆ i64   ┆ i64         ┆ datetime[μs] │
╞══════════╪═══════╪═════════════╪══════════════╡
└──────────┴───────┴─────────────┴──────────────┘

### Asof join:

In [20]:

Asof_join= Vendedores.join_asof(Ventas,how="asof",on="ID_Vendedor")

ValueError: how must be one of {'inner', 'left', 'outer', 'semi', 'anti', 'cross'}, got asof

## Concatenación
<b>Se hace referencia a juntar o unir 2 data frames separados, para ello se utiliza la función 'concat'.</b>

![imagen2](https://4.bp.blogspot.com/-FF1BB_1Nmuk/WHf7Nd7t0nI/AAAAAAAAC_c/t-aI-S-w2JMcaGk9VCoq3iqVdoFuNZ6jwCLcB/s1600/tabulate.png)

### Concatenación vertical (how = vertical):
<b>Tiene como función concatenar todos los data frames de una lista en el orden en que fueron escritos en esta, uno encima de otro, de modo que todos los data frames tengan las mismas columnas.</b>

Para este ejemplo creamos 3 data frames los cuales como condición importante es que deben tener el mismo número y nombre de columnas:

In [51]:
tabla1 = pl.DataFrame({"a":[1,2],"b":[3,2]})
tabla2 = pl.DataFrame({"a":[5],"b":[7]})
tabla3 = pl.DataFrame({"a":[9],"b":[11]})

concatenacion_vertical = pl.concat([tabla1,tabla2,tabla3],how="vertical",)
print(concatenacion_vertical)

shape: (4, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 1   ┆ 3   │
│ 2   ┆ 2   │
│ 5   ┆ 7   │
│ 9   ┆ 11  │
└─────┴─────┘

## Concatenación horizontal:
<b>Tiene como función concatenar todos los data frames de una lista en el orden en que fueron escritos en esta, uno al costado de otro, de manera que todos tengan el mismo número de filas.</b>

Para este ejemplo creamos 3 data frames los cuales como unica condición es que deben tener el mismo numero de filas:

In [55]:
tabla1 = pl.DataFrame({"a":[1,2,5],"b":[3,0,2],"c":[3,5,6]})
tabla2 = pl.DataFrame({"d":[5,4,5],"e":[7,100,0],"f":[2,5,6]})
tabla3 = pl.DataFrame({"g":[9,47,4],"h":[11,5,7],"i":[4,5,6]})

concatenacion_horizontal = pl.concat([tabla1,tabla2,tabla3],how="horizontal")
print(concatenacion_horizontal)

shape: (3, 9)
┌─────┬─────┬─────┬─────┬───┬─────┬─────┬─────┬─────┐
│ a   ┆ b   ┆ c   ┆ d   ┆ … ┆ f   ┆ g   ┆ h   ┆ i   │
│ --- ┆ --- ┆ --- ┆ --- ┆   ┆ --- ┆ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 ┆ i64 ┆   ┆ i64 ┆ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╪═════╪═══╪═════╪═════╪═════╪═════╡
│ 1   ┆ 3   ┆ 3   ┆ 5   ┆ … ┆ 2   ┆ 9   ┆ 11  ┆ 4   │
│ 2   ┆ 0   ┆ 5   ┆ 4   ┆ … ┆ 5   ┆ 47  ┆ 5   ┆ 5   │
│ 5   ┆ 2   ┆ 6   ┆ 5   ┆ … ┆ 6   ┆ 4   ┆ 7   ┆ 6   │
└─────┴─────┴─────┴─────┴───┴─────┴─────┴─────┴─────┘

## Concatenación diagonal
<b>Tiene com funcion concatenar todos los data frames de una lista en el orden en que fueron escritos, sin embargo a diferencia de las anteriores aplicaciones, aqui no existe restricciones de filas ni de columnas, ya que en caso de faltar datos los autocompletara con null.</b>

Para este ejemplo